Repository inviqa/harness-base-php, pull requests merged in 2019-04, with the labels that each got.

#38 Make docker-compose more accessible for local development
  src/_base/.env.twig
  src/_base/_twig/docker-compose.yml/application.yml.twig
  src/_base/_twig/docker-compose.yml/environment.yml.twig
  src/_base/_twig/docker-compose.yml/service/mysql.yml.twig
  src/_base/docker-sync.yml.twig
  src/_base/harness/config/commands.yml
  src/_base/harness/config/confd.yml
  src/_base/harness/scripts/destroy.sh
  src/_base/harness/scripts/disable.sh
  src/_base/harness/scripts/enable.sh
  src/drupal8/.env.twig
  src/drupal8/_twig/docker-compose.yml/environment.yml.twig
  src/drupal8/application/skeleton/.gitignore.twig
  src/drupal8/harness/config/confd.yml
  src/magento1/.env.twig
  src/magento1/_twig/docker-compose.yml/environment.yml.twig
  src/magento1/application/skeleton/.gitignore
  src/magento1/harness/config/confd.yml
  src/magento2/.env.twig
  src/magento2/_twig/docker-compose.yml/environment.yml.twig
  src/magento2/application/skeleton/.gitignore
  src/magento2/harness/config/confd.yml
  src/wordpress/.env.twig
  src/wordpress/_twig/docker-compose.yml/environment.yml.twig
  src/wordpress/application/skeleton/.gitignore
  src/wordpress/harness.yml
  src/wordpress/harness/config/confd.yml
Labels: enhancement, harness-all

#68 Add project skeleton README for reference
  src/_base/application/skeleton/README.md.twig
  src/_base/harness/config/confd.yml
  src/drupal8/harness/config/confd.yml
  src/magento1/harness/config/confd.yml
  src/magento2/harness/config/confd.yml
  src/wordpress/harness/config/confd.yml
Labels: harness-base

#65 Remove settings.php from overlay and add to skeleton, settings.local.…
  src/drupal8/application/overlay/docroot/sites/default/settings.local.php.twig
  src/drupal8/application/skeleton/.gitignore.twig
  src/drupal8/application/skeleton/docroot/sites/default/settings.php
  src/drupal8/harness.yml
  src/drupal8/harness/config/confd.yml
Labels: enhancement, harness-drupal8

#55 Drupal phpstan setup
  src/drupal8/application/skeleton/composer.json
  src/drupal8/application/skeleton/docroot/modules/custom/startup_core/tests/src/Kernel/StartupCoreKernelTest.php
  src/drupal8/application/skeleton/docroot/modules/custom/startup_core/tests/src/Unit/StartupCoreUnitTest.php
  src/drupal8/application/skeleton/phpstan.neon
  src/drupal8/application/static/phpstan.neon
Labels: enhancement, harness-drupal8

#60 Add phpstan with extension for Magento 1 to magento1 harness
  src/magento1/application/skeleton/_twig/composer.json/default.twig
  src/magento1/application/skeleton/phpstan.neon
  src/magento1/application/static/phpstan.neon
Labels: enhancement, harness-magento1
