Repository inviqa/harness-base-php, pull requests merged in 2019-06, with the labels that each got.

#115 Refactoring of helm chart and pipeline config
  src/_base/harness/attributes/common.yml
  src/_base/harness/config/build.yml
  src/_base/harness/config/confd.yml
  src/_base/harness/config/pipeline.yml
  src/_base/helm/app/Chart.yaml
  src/_base/helm/app/_twig/values.yaml/environment.yml.twig
  src/_base/helm/app/templates/application/console/deployment.yaml
  src/_base/helm/app/templates/application/nginx/deployment.yaml
  src/_base/helm/app/templates/application/nginx/ingress.yaml
  src/_base/helm/app/templates/application/nginx/service.yaml
  src/_base/helm/app/templates/application/php-fpm/deployment.yaml
  src/_base/helm/app/templates/application/php-fpm/service.yaml
  src/_base/helm/app/templates/service/memcached/.gitkeep
  src/_base/helm/app/templates/service/mysql/deployment.yaml
  src/_base/helm/app/templates/service/mysql/service.yaml
  src/_base/helm/app/templates/service/redis-session/deployment.yaml
  src/_base/helm/app/templates/service/redis-session/service.yaml
  src/_base/helm/app/templates/service/redis/deployment.yaml
  src/_base/helm/app/templates/service/redis/service.yaml
  src/_base/helm/app/values.yaml.twig
  src/_base/helm/preview/Chart.yaml
  src/_base/helm/qa/Chart.yaml
  src/_base/helm/qa/requirements.yaml
  src/_base/helm/qa/values.yaml.twig
  src/drupal8/harness/config/confd.yml
  src/drupal8/helm/app/_twig/values.yaml/environment.yml.twig
  src/magento1/harness/config/confd.yml
  src/magento2/harness/config/confd.yml
  src/spryker/harness/config/confd.yml
  src/wordpress/harness/config/confd.yml
Labels: wip

#130 Upgrade Magento 2.3.1 to 2.3.2
  src/magento2/application/skeleton/composer.json.twig
  src/magento2/harness.yml
Labels: harness-magento2

#132 Use PHP 7.2 for Magento 2 as 7.1 is EOL in December 2019
  src/magento2/harness.yml
Labels: harness-magento2

#135 Ignore docker-sync directory
  src/akeneo/application/skeleton/.gitignore
  src/drupal8/application/skeleton/.gitignore.twig
  src/magento1/application/skeleton/.gitignore
  src/magento2/application/skeleton/.gitignore
  src/spryker/application/skeleton/.gitignore.twig
  src/wordpress/application/skeleton/.gitignore
Labels: harness-all

#134 Remove --no-ri and --no-rdoc arguments as they have been removed in `gem` v3
  src/_base/harness/scripts/enable.sh
Labels: harness-base
