Repository inviqa/harness-base-php, pull requests merged in 2020-08, with the labels that each got.

#351 Fix multiple argument run/passthru escaping and migrate most to use it
  src/_base/docker/image/console/root/lib/sidekick.sh
  src/_base/docker/image/console/root/lib/task/assets/apply.sh
  src/_base/docker/image/console/root/lib/task/assets/dump.sh
  src/_base/docker/image/console/root/lib/task/build.sh
  src/_base/docker/image/console/root/lib/task/composer/install.sh
  src/_base/docker/image/console/root/lib/task/init.sh.twig
  src/_base/docker/image/console/root/lib/task/install.sh.twig
  src/_base/docker/image/console/root/lib/task/migrate.sh.twig
  src/_base/docker/image/console/root/lib/task/overlay/apply.sh
  src/_base/docker/image/console/root/lib/task/rabbitmq/vhosts.sh.twig
  src/_base/docker/image/console/root/lib/task/skeleton/apply.sh
  src/_base/docker/image/console/root/lib/task/state.sh
  src/_base/harness/attributes/common.yml
  src/_base/harness/config/commands.yml
  src/_base/harness/config/events.yml
  src/akeneo/docker/image/console/root/lib/task/composer/install.sh.twig
  src/akeneo/harness.yml
  src/drupal8/docker/image/console/root/lib/task/media/dump.sh
  src/drupal8/harness.yml
  src/magento1/harness.yml
  src/magento2/docker/image/console/root/lib/task/magento/dump-config.sh
  src/magento2/harness.yml
  src/spryker/docker/image/console/root/lib/task/skeleton/apply.sh.twig
  src/spryker/docker/image/console/root/lib/task/spryker/build.sh.twig
  src/spryker/docker/image/console/root/lib/task/spryker/demodata.sh
  src/spryker/docker/image/console/root/lib/task/spryker/init.sh
  src/spryker/docker/image/console/root/lib/task/spryker/install.sh
  src/spryker/docker/image/console/root/lib/task/spryker/migrate.sh
  src/spryker/docker/image/jenkins-runner/root/lib/task/jenkins/setup.sh
  src/spryker/harness.yml
  src/wordpress/docker/image/console/root/lib/task/wordpress/download.sh.twig
  src/wordpress/harness.yml
Labels: enhancement, harness-all

#353 Use more context related docker attribute paths
  src/_base/harness/attributes/common.yml
  src/_base/harness/config/functions.yml
  src/_base/harness/config/pipeline.yml
  src/_base/harness/config/secrets.yml
Labels: enhancement, harness-base

#348 Delete composer cache from console image
  src/_base/docker/image/console/root/lib/task/composer/install.sh.twig
Labels: enhancement, harness-base

#331 Do not install development dependencies in built docker image
  src/_base/application/overlay/Jenkinsfile.twig
  src/_base/docker/image/console/root/lib/task/composer/development_dependencies.sh
  src/_base/docker/image/console/root/lib/task/composer/install.sh
  src/_base/docker/image/console/root/lib/task/composer/install.sh.twig
  src/_base/harness/config/confd.yml
  src/akeneo/docker/image/console/root/lib/task/composer/install.sh.twig
  src/akeneo/harness/config/confd.yml
  src/drupal8/application/overlay/Jenkinsfile.twig
  src/drupal8/application/skeleton/docroot/profiles/custom/startup/startup.install
  src/drupal8/harness.yml
  src/drupal8/harness/config/confd.yml
  src/magento1/harness/config/confd.yml
  src/magento2/docker/image/console/root/lib/task/composer/development_dependencies.sh
  src/magento2/harness/config/confd.yml
  src/spryker/application/skeleton/composer-harness.json
  src/spryker/docker/image/console/root/lib/task/composer/development_dependencies.sh
  src/spryker/docker/image/console/root/lib/task/spryker/build.sh.twig
  src/spryker/harness/config/confd.yml
  src/wordpress/harness/config/confd.yml
  test
Labels: enhancement, harness-all

#356 Make external_images function more readable
  src/_base/harness/config/external-images.yml
Labels: enhancement, harness-base

#355 Switch sealed-secrets off
  src/_base/harness/attributes/common.yml
Labels: enhancement, harness-all

#350 Run standalone phpstan over magento2 in production mode
  src/_base/application/overlay/Jenkinsfile.twig
  src/_base/docker/image/console/root/lib/task/phpstan.sh
  src/akeneo/application/skeleton/composer.json.twig
  src/drupal8/application/overlay/Jenkinsfile.twig
  src/drupal8/application/skeleton/composer.json
  src/magento1/application/skeleton/_twig/composer.json/default.twig
  src/magento1/application/skeleton/_twig/composer.json/php-5.6.twig
  src/magento2/application/skeleton/composer.json.twig
  src/spryker/application/skeleton/composer-harness.json
  src/wordpress/application/skeleton/composer.json.twig
  test
Labels: enhancement, harness-base, harness-magento2

#360 Fix trailing newlines being added into secrets before encryption
  src/_base/harness/config/secrets.yml
Labels: bug, harness-all

#361 Fix escaping in helm chart git commit
  src/_base/harness/config/pipeline.yml
Labels: bug, harness-all

#358 Add missing external images of service images that have no build
  src/_base/harness/config/external-images.yml
  src/_base/harness/config/functions.yml
Labels: bug, harness-all

#363 Fix db console command
  src/_base/harness/config/commands.yml
Labels: bug, harness-base

#364 Fix not having output for failed commands
  src/_base/docker/image/console/root/lib/sidekick.sh
Labels: bug, harness-base

#366 Fix drush relative docroot fails
  src/drupal8/harness.yml
Labels: bug, harness-drupal8

#367 Fix quoting of commit message
  src/_base/harness/config/pipeline.yml
Labels: bug, harness-base

#368 Fix frontend commands not loading nvm
  src/_base/harness/config/commands.yml
  src/spryker/harness.yml
Labels: bug, harness-base, harness-spryker

#369 More akeneo secrets
  src/akeneo/harness.yml
  src/akeneo/harness/attributes/docker.yml
Labels: bug, harness-akeneo

#374 Fix image pull config secret name
  src/akeneo/helm/app/templates/application/job-queue-consumer/deployment.yaml
  src/spryker/helm/app/templates/application/jenkins-runner/deployment.yaml
Labels: bug

#372 Run spryker jenkins runner agent foreground
  src/spryker/_twig/docker-compose.yml/service/jenkins-runner.yml.twig
  src/spryker/docker/image/jenkins-runner/Dockerfile.twig
  src/spryker/docker/image/jenkins-runner/root/entrypoint.jenkins_runner.dynamic.sh
  src/spryker/docker/image/jenkins-runner/root/entrypoint.jenkins_runner.sh
  src/spryker/docker/image/jenkins-runner/root/lib/task/jenkins/start.sh
Labels: bug, harness-spryker

#379 Magento 1.x crypt key is a secret
  src/magento1/harness/attributes/docker.yml
Labels: enhancement, harness-magento1

#382 Pull external images first missing from akeneo and spryker
  src/_base/harness/scripts/enable.sh.twig
  src/akeneo/harness/scripts/enable.sh.twig
  src/spryker/harness/scripts/enable.sh.twig
Labels: bug, harness-all

#381 Run everything via entrypoint script
  src/_base/helm/app/templates/application/app-init.yaml
  src/_base/helm/app/templates/application/app-migrate.yaml
Labels: enhancement, harness-base

#383 Image pull config must be present before app-init job
  src/_base/helm/app/templates/application/image-pull-config.yaml
Labels: bug, harness-base

#378 Allow easy publish environment settings in Jenkins
  src/_base/application/overlay/Jenkinsfile.twig
  src/_base/harness/attributes/common.yml
  src/drupal8/application/overlay/Jenkinsfile.twig
Labels: enhancement, harness-base, harness-drupal8

#384 Add secrets into argo sync wave 1
  src/_base/helm/app/templates/_base_helper.tpl
  src/_base/helm/app/templates/application/image-pull-config.yaml
Labels: enhancement, harness-all

#385 Recreate services that use persistent volumes to avoid multi-node usage attempts
  src/_base/helm/app/templates/service/elasticsearch/deployment.yaml
  src/_base/helm/app/templates/service/mysql/deployment.yaml
  src/_base/helm/app/templates/service/postgres/deployment.yaml
  src/_base/helm/app/templates/service/rabbitmq/deployment.yaml
  src/_base/helm/app/templates/service/redis-session/deployment.yaml
  src/_base/helm/app/templates/service/redis/deployment.yaml
Labels: bug, harness-base
