Repository inviqa/harness-base-php, pull requests merged in 2020-10, with the labels that each got.

#435 MISC Downgrade elastic search to the latest ACC-supported version
  src/magento2/harness/attributes/docker.yml
Labels: bug, harness-magento2

#434 Fix frontend watch command
  src/_base/harness/config/commands.yml
Labels: bug, harness-base

#437 Fix rogue spaces in Jenkinsfile
  src/_base/application/overlay/Jenkinsfile.twig
  src/drupal8/application/overlay/Jenkinsfile.twig
Labels: enhancement, harness-base, harness-drupal8

#439 Fix zed readme/docker hosts
  src/_base/application/skeleton/README.md.twig
  src/spryker/harness/attributes/docker.yml
Labels: harness-spryker

#440 Adding attributes for fastcgi buffers and buffer size.
  src/_base/docker/image/nginx/root/etc/nginx/conf.d/default.conf.template.twig
  src/_base/harness/attributes/common.yml
  src/akeneo/docker/image/nginx/root/etc/nginx/conf.d/default.conf.template.twig
  src/drupal8/docker/image/nginx/root/etc/nginx/conf.d/default.conf.template.twig
  src/drupal8/harness.yml
  src/magento1/docker/image/nginx/root/etc/nginx/conf.d/default.conf.template.twig
  src/magento2/docker/image/nginx/root/etc/nginx/conf.d/default.conf.template.twig
  src/magento2/harness.yml
  src/symfony/docker/image/nginx/root/etc/nginx/conf.d/default.conf.template.twig
  src/wordpress/docker/image/nginx/root/etc/nginx/conf.d/default.conf.template.twig
Labels: enhancement, harness-all

#442 Fix resource prefixed magento and akeneo
  src/_base/harness/attributes/docker-base.yml
  src/akeneo/harness.yml
  src/magento2/harness.yml
Labels: bug, harness-akeneo, harness-magento2

#448 Fix Magento 2 steps if not using elasticsearch
  src/_base/harness/attributes/docker-base.yml
  src/magento2/application/overlay/app/etc/env.php.twig
  src/magento2/harness.yml
Labels: bug, harness-magento2

#453 Varnish - Add checksum of configmap to the pods
  src/_base/helm/app/templates/service/varnish/statefulset.yaml
Labels: enhancement, harness-base

#451 Allow specifying cert, namespace and scope for sealed-secrets
  src/_base/harness/attributes/common.yml
  src/_base/harness/config/secrets.yml
  src/_base/helm/app/values.yaml.twig
  src/akeneo/helm/app/values.yaml.twig
  src/spryker/helm/app/values.yaml.twig
Labels: enhancement, harness-all

#454 Add support for MySQL 8
  src/_base/.ci/sample-static/workspace.yml
  src/_base/_twig/docker-compose.yml/service/mysql.yml.twig
  src/_base/harness/attributes/common.yml
  src/_base/harness/attributes/docker-base.yml
  src/_base/helm/app/templates/service/mysql/deployment.yaml
  src/akeneo/harness.yml
Labels: enhancement, harness-akeneo, harness-base

#449 Magento 2 cron needs zombies to exist
  src/magento2/harness.yml
Labels: bug, harness-magento2

#455 Fix git.default_branch not using git.main_branch
  src/_base/harness/attributes/common.yml
Labels: bug, harness-base

#452 Deploy supporting services in wave 4
  src/_base/helm/app/templates/service/elasticsearch/deployment.yaml
  src/_base/helm/app/templates/service/mysql/deployment.yaml
  src/_base/helm/app/templates/service/postgres/deployment.yaml
  src/_base/helm/app/templates/service/rabbitmq/deployment.yaml
  src/_base/helm/app/templates/service/redis-session/deployment.yaml
  src/_base/helm/app/templates/service/redis/deployment.yaml
  src/_base/helm/app/templates/service/varnish/statefulset.yaml
  src/spryker/helm/app/templates/service/jenkins/deployment.yaml
Labels: bug, harness-all

#445 Fix behat reliability on drupal8 by moving phpunit to be after it
  src/drupal8/application/overlay/Jenkinsfile.twig
Labels: bug, harness-drupal8

#398 Support Spryker 202009 release
  .gitignore
  src/_base/harness/config/commands.yml
  src/spryker/.ci/sample-static/workspace.yml
  src/spryker/README.md
  src/spryker/application/overlay/phpstan-baseline.neon
  src/spryker/application/overlay/phpstan.neon
  src/spryker/application/skeleton/behat.yml
  src/spryker/application/skeleton/composer-harness.json
  src/spryker/application/skeleton/config/Shared/config_local.php
  src/spryker/application/skeleton/config/install/docker.yml.twig
  src/spryker/application/skeleton/features/bootstrap/_config/contexts.yml
  src/spryker/harness.yml
  src/spryker/harness/attributes/docker.yml
Labels: enhancement, harness-spryker

#459 Push the helm chart to the default branch of the cluster repository
  src/_base/harness/config/pipeline.yml
Labels: enhancement, harness-base

#457 Remove the lost+found removal and improve handling
  src/_base/_twig/docker-compose.yml/service/mysql.yml.twig
  src/_base/harness/attributes/docker-base.yml
  src/_base/helm/app/templates/service/mysql/deployment.yaml
Labels: enhancement, harness-all

#458 Use proper escaping for database credentials in assets apply/dump
  src/_base/docker/image/console/root/lib/task/assets/apply.sh
  src/_base/docker/image/console/root/lib/task/assets/dump.sh
Labels: bug, harness-all

#460 Fix wrong indentation level for mailhog in preview environments
  src/_base/harness/attributes/docker-base.yml
Labels: bug, harness-base

#461 Fix JENKINS_HOST environment variable not being overridden in helm chart
  src/spryker/harness/attributes/docker.yml
Labels: bug, harness-spryker

#436 Use PHP 7.4 where we can
  src/_base/harness/attributes/common.yml
  src/akeneo/application/skeleton/composer.json.twig
  src/drupal8/application/skeleton/composer.json
  src/drupal8/harness.yml
  src/magento1/application/skeleton/_twig/composer.json/default.twig
  src/magento1/application/skeleton/_twig/composer.json/php-5.6.twig
  src/magento2/harness.yml
  src/spryker/application/skeleton/composer-harness.json
  src/symfony/application/skeleton/composer.json.twig
  src/wordpress/application/skeleton/behat.yml.twig
  src/wordpress/application/skeleton/composer.json.twig
  src/wordpress/application/skeleton/features/bootstrap/Context/Web.php
  src/wordpress/application/skeleton/features/bootstrap/Context/WebWithMinkContext.php
  src/wordpress/application/skeleton/features/bootstrap/Context/WebWithPageObjectsWithConstructorInjectionContext.php
  src/wordpress/application/skeleton/features/bootstrap/Context/WebWithPageObjectsWithFactoryInjectionContext.php
  src/wordpress/application/skeleton/features/bootstrap/Page/HomePage.php
  src/wordpress/application/skeleton/features/bootstrap/_config/contexts.yml
  src/wordpress/application/skeleton/features/web/home/homepage.feature
  src/wordpress/harness.yml
Labels: enhancement, harness-all

#450 Upgrade Magento to 2.4.1
  src/magento2/application/skeleton/app/etc/config.php
  src/magento2/application/skeleton/composer.json.twig
Labels: enhancement, harness-magento2

#471 MISC replace unnecessary $root with $ in helm chart
  src/spryker/helm/app/templates/application/webapp/ingress.yaml
Labels: enhancement, hacktoberfest-accepted, harness-spryker

#470 Make services.*.enabled able to disable all services (including webapp)
  src/_base/_twig/docker-compose.yml/application.yml.twig
  src/_base/_twig/docker-compose.yml/service/console.yml.twig
  src/_base/_twig/docker-compose.yml/service/nginx.yml.twig
  src/_base/_twig/docker-compose.yml/service/php-fpm.yml.twig
  src/_base/_twig/docker-compose.yml/service/relay.yml.twig
  src/_base/_twig/docker-compose.yml/service/varnish.yml.twig
  src/_base/_twig/docker-compose.yml/service/webapp.yml.twig
  src/_base/application/skeleton/README.md.twig
  src/_base/docker-compose.yml.twig
  src/_base/docker/image/console/root/lib/task/rabbitmq/vhosts.sh.twig
  src/_base/docker/image/console/root/lib/task/welcome.sh.twig
  src/_base/harness/attributes/common.yml
  src/_base/harness/attributes/docker-base.yml
  src/_base/harness/config/pipeline.yml
  src/_base/harness/scripts/enable.sh.twig
  src/_base/helm/app/templates/application/webapp/deployment.yaml
  src/_base/helm/app/templates/application/webapp/ingress-istio.yaml
  src/_base/helm/app/templates/application/webapp/ingress.yaml
  src/_base/helm/app/templates/application/webapp/podmonitor.yaml
  src/_base/helm/app/templates/application/webapp/service.yaml
  src/_base/helm/app/values.yaml.twig
  src/akeneo/harness/attributes/docker.yml
  src/akeneo/harness/scripts/enable.sh.twig
  src/akeneo/helm/app/values.yaml.twig
  src/drupal8/docs/customise/advanced.md
  src/magento1/docker/image/console/root/lib/task/welcome.sh.twig
  src/magento2/application/overlay/app/etc/env.php.twig
  src/spryker/README.md
  src/spryker/_twig/docker-compose.yml/application.yml.twig
  src/spryker/_twig/docker-compose.yml/service/console.yml.twig
  src/spryker/_twig/docker-compose.yml/service/nginx.yml.twig
  src/spryker/docker/image/console/root/lib/task/welcome.sh.twig
  src/spryker/harness.yml
  src/spryker/harness/attributes/docker.yml
  src/spryker/helm/app/templates/application/webapp/ingress-istio.yaml
  src/spryker/helm/app/templates/application/webapp/ingress.yaml
  src/spryker/helm/app/values.yaml.twig
Labels: enhancement, hacktoberfest-accepted, harness-base, harness-spryker

#466 Upgrade to NGINX 1.19
  src/_base/docker/image/nginx/Dockerfile.twig
  src/_base/docker/image/relay/Dockerfile
  src/_base/docker/image/tls-offload/Dockerfile
Labels: enhancement, hacktoberfest-accepted, harness-base

#468 Add Magento 2 var/export PersistentVolumeClaim
  src/magento2/harness.yml
  src/magento2/harness/attributes/docker.yml
  src/magento2/helm/app/templates/application/_helper.tpl
  src/magento2/helm/app/templates/application/magento-export-pvc.yaml
Labels: enhancement, hacktoberfest-accepted, harness-magento2

#469 Add License
  LICENSE
  src/_base/LICENSE
Labels: enhancement, hacktoberfest-accepted, harness-base

#447 Lock the git push for chart publishing
  src/_base/application/overlay/Jenkinsfile.twig
  src/drupal8/application/overlay/Jenkinsfile.twig
Labels: bug, hacktoberfest-accepted, harness-base

#467 Fix Magento 1 app init not running migrations
  src/magento1/harness.yml
Labels: bug, hacktoberfest-accepted, harness-magento1

#465 Rewrite local.xml on container startup
  src/magento1/application/overlay/public/app/etc/_twig/local.xml/session/redis.twig
  src/magento1/application/overlay/public/app/etc/local.xml.harness.template.twig
  src/magento1/application/skeleton/.gitignore
  src/magento1/harness.yml
  src/magento1/harness/attributes/docker.yml
  src/magento1/harness/config/confd.yml
Labels: enhancement, hacktoberfest-accepted, harness-magento1

#464 Prompt for the community or enterprise edition for Akeneo when creating a project
  src/_base/harness/config/commands.yml
  src/akeneo/.ci/sample-dynamic/workspace.yml
  src/akeneo/.ci/sample-static/workspace.yml
  src/akeneo/README.md
  src/akeneo/application/skeleton/composer.json.twig
  src/akeneo/docker/image/console/root/home/build/.ssh/id_rsa.pub.twig
  src/akeneo/docker/image/console/root/home/build/.ssh/id_rsa.twig
  src/akeneo/harness.yml
  src/akeneo/harness/config/confd.yml
Labels: enhancement, hacktoberfest-accepted, harness-akeneo, harness-base

#456 Deployable tideways daemon
  src/_base/_twig/docker-compose.yml/service/tideways.yml.twig
  src/_base/docker/image/console/root/entrypoint.sh.twig
  src/_base/docker/image/cron/root/entrypoint.sh.twig
  src/_base/docker/image/php-fpm/root/entrypoint.sh.twig
  src/_base/docker/image/tideways/Dockerfile
  src/_base/harness/attributes/common.yml
  src/_base/harness/attributes/docker-base.yml
  src/_base/helm/app/_twig/values.yaml/resources.yml.twig
  src/_base/helm/app/templates/service/tideways/deployment.yaml
  src/_base/helm/app/templates/service/tideways/service.yaml
Labels: enhancement, hacktoberfest-accepted, harness-base

#472 Customisable static asset language and theme deployments
  src/magento2/.ci/sample-static/workspace.yml
  src/magento2/docker/image/console/root/lib/task/magento/static_content_deploy.sh.twig
  src/magento2/harness.yml
  src/magento2/harness/config/confd.yml
Labels: enhancement, hacktoberfest-accepted, harness-magento2

#473 Add Solr for local environment
  src/_base/_twig/docker-compose.yml/service/solr.yml.twig
  src/_base/application/skeleton/README.md.twig
  src/_base/docker-compose.yml.twig
  src/_base/docker/image/console/root/lib/task/welcome.sh.twig
  src/_base/docker/image/solr4/Dockerfile
  src/_base/harness/attributes/docker-base.yml
  src/drupal8/.ci/sample-dynamic/workspace.yml
  src/drupal8/.ci/sample-static/workspace.yml
  src/drupal8/docs/customise/advanced.md
  src/magento1/docker/image/console/root/lib/task/welcome.sh.twig
  src/spryker/docker/image/console/root/lib/task/welcome.sh.twig
Labels: enhancement, hacktoberfest-accepted, harness-base, harness-drupal8

#477 Document how to upgrade harness versions
  README.md
Labels: enhancement, hacktoberfest-accepted, harness-base

#478 Fix solr data path
  src/_base/_twig/docker-compose.yml/service/solr.yml.twig
  src/_base/docker/image/solr4/Dockerfile
  src/_base/harness/attributes/docker-base.yml
Labels: bug, hacktoberfest-accepted, harness-base

#476 Document mailhog URL
  src/_base/application/skeleton/README.md.twig
Labels: enhancement, hacktoberfest-accepted, harness-base

#479 Add missing sealed-secret scope header change
  src/_base/helm/app/templates/_base_helper.tpl
Labels: bug, hacktoberfest-accepted, harness-all

#474 Define service resources from within services.{service}.resources values
  src/_base/harness/attributes/common.yml
  src/_base/harness/attributes/docker-base.yml
  src/_base/harness/config/functions.yml
  src/_base/helm/app/_twig/values.yaml/resources.yml.twig
  src/_base/helm/app/templates/application/app-init.yaml
  src/_base/helm/app/templates/application/app-migrate.yaml
  src/_base/helm/app/templates/application/console/deployment.yaml
  src/_base/helm/app/templates/application/cron/deployment.yaml
  src/_base/helm/app/templates/application/webapp/deployment.yaml
  src/_base/helm/app/templates/service/elasticsearch/deployment.yaml
  src/_base/helm/app/templates/service/mysql/deployment.yaml
  src/_base/helm/app/templates/service/postgres/deployment.yaml
  src/_base/helm/app/templates/service/rabbitmq/deployment.yaml
  src/_base/helm/app/templates/service/redis-session/deployment.yaml
  src/_base/helm/app/templates/service/redis/deployment.yaml
  src/_base/helm/app/templates/service/tideways/deployment.yaml
  src/_base/helm/app/templates/service/varnish/statefulset.yaml
  src/_base/helm/app/values-production.yaml.twig
  src/akeneo/harness/attributes/docker.yml
  src/akeneo/helm/app/_twig/values.yaml/resources.yml.twig
  src/akeneo/helm/app/templates/application/job-queue-consumer/deployment.yaml
  src/spryker/harness.yml
  src/spryker/harness/attributes/docker.yml
  src/spryker/helm/app/_twig/values.yaml/resources.yml.twig
  src/spryker/helm/app/templates/application/jenkins-runner/deployment.yaml
  src/spryker/helm/app/templates/service/jenkins/deployment.yaml
Labels: enhancement, hacktoberfest-accepted, harness-all

#480 Add composer validate as a quality check
  src/akeneo/application/skeleton/composer.json.twig
  src/drupal8/application/skeleton/composer.json.twig
  src/drupal8/harness/config/confd.yml
  src/magento1/application/skeleton/_twig/composer.json/default.twig
  src/magento1/application/skeleton/_twig/composer.json/php-5.6.twig
  src/magento2/application/skeleton/composer.json.twig
  src/spryker/application/skeleton/composer-harness.json.twig
  src/spryker/harness/config/confd.yml
  src/symfony/application/skeleton/composer.json.twig
  src/wordpress/application/skeleton/composer.json.twig
Labels: enhancement, hacktoberfest-accepted, harness-all

#475 Add persistence for Spryker jenkins home
  src/spryker/harness.yml
  src/spryker/helm/app/templates/service/jenkins/deployment.yaml
  src/spryker/helm/app/templates/service/jenkins/pvc.yaml
Labels: enhancement, hacktoberfest-accepted, harness-spryker
