Repository inviqa/harness-base-php, pull requests merged in 2020-04, with the labels that each got.

#264 Add SensioLabs Behat PageObjectExtension to Magento 2 skeleton
  src/magento2/application/skeleton/behat.yml.twig
  src/magento2/application/skeleton/composer.json.twig
  src/magento2/application/skeleton/features/bootstrap/Context/WebWithMinkContext.php
  src/magento2/application/skeleton/features/bootstrap/Context/WebWithPageObjectsWithConstructorInjectionContext.php
  src/magento2/application/skeleton/features/bootstrap/Context/WebWithPageObjectsWithFactoryInjectionContext.php
  src/magento2/application/skeleton/features/bootstrap/Page/HomePage.php
  src/magento2/application/skeleton/features/web/home/homepage.feature
Labels: harness-magento2

#268 Update magento2 gitignore for 2.3.4
  src/magento2/application/skeleton/.gitignore
Labels: enhancement, harness-magento2

#273 allow customising annotations on application ingress
  src/_base/harness/attributes/docker-base.yml
  src/_base/helm/app/templates/application/webapp/ingress.yaml
  src/spryker/helm/app/templates/application/webapp/ingress.yaml
Labels: enhancement, harness-base

#266 Use default Symfony4 web directory
  src/symfony/harness.yml
Labels: enhancement, harness-symfony

#277 Fix builds for Symfony by adding in a webroot folder
  src/symfony/application/skeleton/public/.gitkeep
Labels: harness-symfony

#276 Add extra cache types to avoid env.php needing to be writable at runtime
  src/magento2/application/overlay/app/etc/env.php.twig
Labels: harness-magento2
