Repository inviqa/harness-base-php, pull requests merged in 2020-02, with the labels that each got.

#221 Add initial CHANGELOG.md
  CHANGELOG.md
Labels: invalid

#220 Remove ports and readinessProbe from cron deployment
  src/_base/helm/app/templates/application/cron/deployment.yaml
Labels: bug, harness-base

#212 Allow updating the docker-compose file version
  src/_base/docker-compose.yml.twig
  src/_base/harness/attributes/common.yml
Labels: enhancement, harness-base

#224 Cronjob for tests on 0.4.x branch
  Jenkinsfile
  src/symfony/.ci/sample-dynamic/workspace.yml
  src/symfony/.ci/sample-static/workspace.yml
Labels: bug
