Repository inviqa/harness-base-php, pull requests merged in 2020-12, with the labels that each got.

#498 Fix drupal8 site:install command
  src/drupal8/application/skeleton/composer.json
Labels: bug, harness-drupal8

#484 Add mongodb service
  src/_base/_twig/docker-compose.yml/service/mongodb.yml.twig
  src/_base/harness/attributes/common.yml
  src/_base/harness/attributes/docker-base.yml
  src/_base/helm/app/templates/service/mongodb/deployment.yaml
  src/_base/helm/app/templates/service/mongodb/pvc.yaml
  src/_base/helm/app/templates/service/mongodb/secret.yaml
  src/_base/helm/app/templates/service/mongodb/service.yaml
Labels: enhancement, harness-all

#504 Fix 'ws switch docker-sync'
  src/_base/harness/config/mutagen.yml
Labels: bug

#489 Fix external-images pull locally
  src/_base/harness/config/external-images.yml
Labels: bug, harness-base

#485 Clean exit if there is a failure to parse docker-compose config
  src/_base/harness/config/functions.yml
Labels: enhancement, harness-all

#486 Change application.yml.dist deprecation to twig comment
  src/_base/_twig/docker-compose.yml/application.yml.twig
Labels: enhancement, harness-all

#487 Skip php-fpm (unless cron enabled) and nginx being built in CI if webapp disabled
  src/_base/harness/config/pipeline.yml
Labels: bug, harness-base

#494 Raise opcache settings for Magento 1, Magento 2 and Spryker
  src/magento1/harness.yml
  src/magento2/harness.yml
  src/spryker/harness.yml
Labels: enhancement, harness-magento1, harness-magento2, harness-spryker

#497 Use authoritative classmap for composer
  src/_base/docker/image/console/root/lib/task/composer/install.sh.twig
  src/drupal8/application/skeleton/composer.json.twig
  src/magento2/application/skeleton/composer.json.twig
  src/magento2/docker/image/console/root/lib/task/composer/development_dependencies.sh
  src/magento2/harness.yml
  src/spryker/docker/image/console/root/lib/task/composer/development_dependencies.sh
Labels: enhancement, harness-base, harness-drupal8, harness-magento2, harness-spryker

#482 Trust workspace or pipeline host for drupal
  src/drupal8/application/overlay/docroot/sites/default/settings.local.php.twig
Labels: enhancement, harness-drupal8

#499 Configure file based opcache for cli
  src/_base/docker/image/console/Dockerfile.twig
  src/_base/docker/image/console/root/lib/task/composer/autoload.sh
  src/_base/docker/image/console/root/lib/task/composer/development_dependencies.sh
  src/_base/docker/image/console/root/lib/task/composer/install.sh.twig
  src/_base/docker/image/cron/Dockerfile.twig
  src/_base/docker/image/cron/root/usr/local/etc/php/php.ini.twig
  src/_base/harness/attributes/common.yml
  src/_base/harness/config/confd.yml
  src/akeneo/docker/image/console/Dockerfile.twig
  src/akeneo/docker/image/job-queue-consumer/Dockerfile.twig
  src/akeneo/docker/image/job-queue-consumer/root/usr/local/etc/php/php.ini.twig
  src/akeneo/harness/attributes/docker.yml
  src/akeneo/harness/config/confd.yml
  src/drupal8/harness.yml
  src/drupal8/harness/config/confd.yml
  src/magento1/harness/config/confd.yml
  src/magento2/docker/image/console/Dockerfile.twig
  src/magento2/docker/image/console/root/lib/task/composer/autoload.sh
  src/magento2/docker/image/console/root/lib/task/composer/development_dependencies.sh
  src/magento2/docker/image/console/root/lib/task/magento/dump-config.sh
  src/magento2/docker/image/console/root/lib/task/magento/static_content_deploy.sh.twig
  src/magento2/harness.yml
  src/magento2/harness/config/confd.yml
  src/spryker/docker/image/console/root/lib/task/composer/development_dependencies.sh
  src/spryker/docker/image/console/root/lib/task/spryker/build.sh.twig
  src/spryker/docker/image/jenkins-runner/root/usr/local/etc/php/php.ini.twig
  src/spryker/harness/config/confd.yml
  src/symfony/docker/image/console/Dockerfile.twig
  src/symfony/harness/config/confd.yml
  src/wordpress/harness/config/confd.yml
Labels: enhancement, harness-all

#501 Improve instructions for harness upgrades
  README.md
Labels: enhancement, harness-base

#507 Fix setup:static-content:deploy before 2.4.1
  src/magento2/docker/image/console/root/lib/task/magento/static_content_deploy.sh.twig
Labels: bug, harness-magento2

#503 Consolidate docker images used
  src/drupal8/harness.yml
  src/magento1/harness.yml
  src/magento2/harness.yml
  src/wordpress/harness.yml
Labels: enhancement, harness-drupal8, harness-magento1, harness-magento2, harness-wordpress

#505 Add Composer 2.0 Support
  src/_base/docker/image/console/Dockerfile.twig
  src/_base/harness/attributes/common.yml
  src/_base/harness/attributes/docker-base.yml
  src/akeneo/docker/image/console/Dockerfile.twig
  src/akeneo/harness/attributes/docker.yml
  src/drupal8/application/skeleton/composer.json.twig
  src/magento1/application/skeleton/_twig/composer.json/default.twig
  src/magento1/application/skeleton/_twig/composer.json/php-5.6.twig
  src/magento1/harness.yml
  src/magento2/docker/image/console/Dockerfile.twig
  src/magento2/harness.yml
  src/magento2/harness/attributes/docker.yml
  src/spryker/application/skeleton/composer-harness.json.twig
  src/spryker/harness.yml
  src/symfony/docker/image/console/Dockerfile.twig
  src/symfony/harness/attributes/docker.yml
Labels: enhancement, harness-all

#510 Fix static content deploy for admin theme
  src/magento2/docker/image/console/root/lib/task/magento/static_content_deploy.sh.twig
Labels: bug, harness-magento2

#509 Update Jenkins docker image to supported latest lts
  src/spryker/harness/attributes/docker.yml
Labels: harness-spryker, security

#511 Override zed session cookie domain from zed.de.suite.local
  src/spryker/application/skeleton/config/Shared/config_local.php
Labels: bug, harness-spryker
