Repository inviqa/harness-base-php, pull requests merged in 2020-06, with the labels that each got.

#310 Improve speed of permissions fixes
  src/_base/docker/image/php-fpm/root/fix_app_permissions.sh.twig
Labels: enhancement, harness-base

#317 Fix wrong hosts entry on startup
  src/spryker/harness.yml
Labels: bug, harness-spryker

#311 Fix drupal8 build
  src/drupal8/application/skeleton/composer.json
Labels: bug, harness-drupal8

#312 Bump Magento 2 to 2.3.5-p1
  src/magento2/application/skeleton/composer.json.twig
Labels: harness-magento2

#313 Bump Magento 1 to 1.14.4.5
  src/magento1/harness.yml
Labels: harness-magento1

#316 Allow the Magento2 executable to be called from the host machine
  src/magento2/harness.yml
Labels: enhancement, harness-magento2

#315 Enable local mail by default
  src/_base/_twig/docker-compose.yml/application.yml.twig
  src/_base/docker/image/console/Dockerfile.twig
  src/_base/docker/image/php-fpm/Dockerfile.twig
  src/_base/docker/image/relay/Dockerfile
  src/_base/docker/image/relay/root/etc/nginx/nginx.conf
  src/_base/harness.yml
  src/_base/harness/attributes/common.yml
  src/akeneo/docker/image/console/Dockerfile.twig
  src/akeneo/harness.yml
  src/drupal8/harness.yml
  src/magento1/harness.yml
  src/magento2/harness.yml
  src/spryker/_twig/docker-compose.yml/application.yml.twig
  src/spryker/harness.yml
  src/symfony/harness.yml
  src/wordpress/harness.yml
Labels: enhancement, harness-all

#322 Fix simpletest usage for Drupal 8
  src/drupal8/application/overlay/Jenkinsfile.twig
  src/drupal8/application/skeleton/.gitignore
  src/drupal8/application/skeleton/composer.json
  src/drupal8/harness.yml
  test
Labels: enhancement, harness-drupal8

#320 Remove web writable generated directory for Magento2
  src/magento2/docker/image/console/Dockerfile.twig
  src/magento2/harness.yml
  src/magento2/harness/attributes/docker.yml
Labels: bug, harness-magento2

#291 Align framework overrides with base. Update Magento 2 NGINX config.
  src/_base/docker/image/nginx/root/etc/nginx/conf.d/default.conf.template.twig
  src/drupal8/docker/image/nginx/root/etc/nginx/conf.d/default.conf.template.twig
  src/magento1/application/skeleton/.gitignore
  src/magento2/application/skeleton/.gitignore
  src/magento2/docker/image/nginx/root/etc/nginx/conf.d/default.conf.template.twig
  src/spryker/application/skeleton/.gitignore
  src/spryker/harness/attributes/environment/pipeline.yml
  src/wordpress/application/skeleton/.gitignore
  src/wordpress/docker/image/nginx/root/etc/nginx/conf.d/default.conf.template.twig
Labels: bug, harness-drupal8, harness-magento1, harness-magento2, harness-spryker, harness-wordpress

#299 Add harness update commands
  src/_base/application/skeleton/README.md.twig
  src/_base/harness/config/commands.yml
  src/_base/harness/config/events.yml
Labels: enhancement, harness-base

#314 Use PHP 7.3 by default in magento2
  src/magento2/harness.yml
Labels: enhancement, harness-magento2

#318 Let production mode work for magento2
  src/magento2/harness.yml
Labels: enhancement, harness-magento2

#323 Use mutagen by default
  src/_base/application/skeleton/README.md.twig
  src/_base/harness/attributes/common.yml
Labels: enhancement, harness-base

#319 Speed up Spryker build
  src/_base/harness/attributes/environment/pipeline.yml
  src/spryker/application/skeleton/composer-harness.json
  src/spryker/application/skeleton/config/install/docker.yml.twig
  src/spryker/application/skeleton/deploy/vars
  src/spryker/docker/image/console/root/lib/task/skeleton/apply.sh.twig
  src/spryker/docker/image/console/root/lib/task/spryker/build.sh.twig
  src/spryker/docker/image/console/root/lib/task/spryker/init.sh
  src/spryker/harness.yml
  src/spryker/harness/attributes/environment/pipeline.yml
  test
Labels: enhancement, harness-base, harness-spryker

#309 Add Varnish
  src/_base/.ci/sample-dynamic/workspace.yml
  src/_base/.ci/sample-static/workspace.yml
  src/_base/_twig/docker-compose.yml/application.yml.twig
  src/_base/_twig/docker-compose.yml/service/varnish.yml.twig
  src/_base/docker/image/nginx/root/docker-entrypoint.d/config_render.sh.twig
  src/_base/docker/image/nginx/root/etc/nginx/conf.d/default.conf.template.twig
  src/_base/docker/image/tls-offload/Dockerfile
  src/_base/docker/image/tls-offload/root/etc/nginx/conf.d/0-nginx.conf.twig
  src/_base/docker/image/tls-offload/root/etc/nginx/conf.d/default.conf.twig
  src/_base/docker/image/tls-offload/root/etc/nginx/snippets/certificate.conf
  src/_base/docker/image/tls-offload/root/etc/nginx/snippets/ssl-params.conf
  src/_base/docker/image/tls-offload/root/etc/ssl/certs/app.crt.twig
  src/_base/docker/image/tls-offload/root/etc/ssl/private/app.key.twig
  src/_base/docker/image/varnish/root/etc/varnish/default.vcl.twig
  src/_base/harness/attributes/common.yml
  src/_base/harness/attributes/docker-base.yml
  src/_base/harness/config/confd.yml
  src/_base/harness/config/functions.yml
  src/_base/harness/config/pipeline.yml
  src/_base/helm/app/_twig/templates/service/varnish/configmap.yaml.twig
  src/_base/helm/app/_twig/values.yaml/resources.yml.twig
  src/_base/helm/app/templates/application/app-init.yaml
  src/_base/helm/app/templates/application/app-migrate.yaml
  src/_base/helm/app/templates/application/webapp/ingress-istio.yaml
  src/_base/helm/app/templates/application/webapp/ingress.yaml
  src/_base/helm/app/templates/service/varnish/headless-service.yaml
  src/_base/helm/app/templates/service/varnish/service.yaml
  src/_base/helm/app/templates/service/varnish/statefulset.yaml
  src/_base/helm/app/values.yaml.twig
  src/_base/helm/qa/values.yaml.twig
  src/akeneo/docker/image/nginx/root/etc/nginx/conf.d/default.conf.template.twig
  src/akeneo/harness/config/confd.yml
  src/akeneo/helm/app/_twig/values.yaml/resources.yml.twig
  src/akeneo/helm/app/values.yaml.twig
  src/drupal8/docker/image/nginx/root/etc/nginx/conf.d/default.conf.template.twig
  src/drupal8/harness/config/confd.yml
  src/magento1/docker/image/nginx/root/etc/nginx/conf.d/default.conf.template.twig
  src/magento1/harness/config/confd.yml
  src/magento2/.ci/sample-dynamic/workspace.yml
  src/magento2/.ci/sample-static/workspace.yml
  src/magento2/application/overlay/app/etc/env.php.twig
  src/magento2/docker/image/nginx/root/etc/nginx/conf.d/default.conf.template.twig
  src/magento2/docker/image/varnish/root/etc/varnish/default.vcl.twig
  src/magento2/harness.yml
  src/magento2/harness/config/confd.yml
  src/spryker/docker/image/nginx/root/etc/nginx/conf.d/glue.conf.template.twig
  src/spryker/docker/image/nginx/root/etc/nginx/conf.d/zed.conf.template.twig
  src/spryker/harness.yml
  src/spryker/harness/config/confd.yml
  src/spryker/helm/app/_twig/values.yaml/resources.yml.twig
  src/spryker/helm/app/templates/application/webapp/ingress-istio.yaml
  src/spryker/helm/app/templates/application/webapp/ingress.yaml
  src/spryker/helm/app/values.yaml.twig
  src/wordpress/docker/image/nginx/root/etc/nginx/conf.d/default.conf.template.twig
  src/wordpress/harness/config/confd.yml
Labels: breaking, enhancement, harness-all

#324 Improve Xdebug IDE support by not assuming PHPStorm
  src/_base/application/skeleton/README.md.twig
  src/_base/harness/attributes/common.yml
Labels: enhancement, harness-base

#321 Bump PHPStan Prophecy based on dependabot upgrading another project
  src/drupal8/application/skeleton/composer.json
Labels: dependencies, harness-drupal8

#325 Run phpstan separately for drupal8
  src/drupal8/application/skeleton/composer.json
  src/drupal8/application/skeleton/phpstan.neon
Labels: enhancement, harness-drupal8

#305 Add redis-session persistent storage enabled by default
  src/_base/harness/attributes/common.yml
  src/_base/helm/app/templates/service/redis-session/deployment.yaml
  src/_base/helm/app/templates/service/redis-session/pvc.yaml
Labels: enhancement, harness-magento2

#327 Fix drupal8 phpstan-prophecy path
  src/drupal8/application/skeleton/phpstan.neon
Labels: bug, harness-drupal8

#326 Changelog for 0.8.0
  CHANGELOG.md
Labels: skip-changelog

#333 Fix varnish cache clearing for magento2 when using resource prefixes
  src/_base/harness/attributes/docker-base.yml
  src/magento2/application/overlay/app/etc/env.php.twig
Labels: bug, harness-base, harness-magento2
