Repository inviqa/harness-base-php, pull requests merged in 2020-09, with the labels that each got.

#387 Updating phpcs rules to allow void return type.
  src/drupal8/application/overlay/phpcs.xml.twig
Labels: bug, harness-drupal8

#386 Support Docker Desktop Edge 2.3.5.0 which ships with grpcFUSE filesystem drivers
  src/_base/docker/image/console/root/entrypoint.dynamic.sh
  src/_base/docker/image/php-fpm/root/entrypoint.dynamic.sh
Labels: enhancement, harness-base

#389 Fix php syntax check not exiting with non-zero exit code on error
  src/akeneo/application/skeleton/composer.json.twig
  src/drupal8/application/skeleton/composer.json
  src/magento1/application/skeleton/_twig/composer.json/default.twig
  src/magento1/application/skeleton/_twig/composer.json/php-5.6.twig
  src/magento2/application/skeleton/composer.json.twig
  src/spryker/application/skeleton/composer-harness.json
  src/wordpress/application/skeleton/composer.json.twig
Labels: bug, harness-all

#388 Handle service enabled/image as services attributes
  src/_base/_twig/docker-compose.yml/application.yml.twig
  src/_base/_twig/docker-compose.yml/service/cron.yml.twig
  src/_base/_twig/docker-compose.yml/service/elasticsearch.yml.twig
  src/_base/_twig/docker-compose.yml/service/memcached.yml.twig
  src/_base/_twig/docker-compose.yml/service/mysql.yml.twig
  src/_base/_twig/docker-compose.yml/service/php-fpm-exporter.yml.twig
  src/_base/_twig/docker-compose.yml/service/postgres.yml.twig
  src/_base/_twig/docker-compose.yml/service/rabbitmq.yml.twig
  src/_base/_twig/docker-compose.yml/service/redis-session.yml.twig
  src/_base/_twig/docker-compose.yml/service/redis.yml.twig
  src/_base/_twig/docker-compose.yml/service/varnish.yml.twig
  src/_base/harness/attributes/docker-base.yml
  src/_base/harness/config/functions.yml
  src/_base/helm/app/_twig/templates/service/varnish/configmap.yaml.twig
  src/_base/helm/app/templates/_base_helper.tpl
  src/_base/helm/app/templates/application/app-init.yaml
  src/_base/helm/app/templates/application/app-migrate.yaml
  src/_base/helm/app/templates/application/console/deployment.yaml
  src/_base/helm/app/templates/application/cron/deployment.yaml
  src/_base/helm/app/templates/application/webapp/deployment.yaml
  src/_base/helm/app/templates/application/webapp/podmonitor.yaml
  src/_base/helm/app/templates/service/elasticsearch/deployment.yaml
  src/_base/helm/app/templates/service/elasticsearch/pvc.yaml
  src/_base/helm/app/templates/service/elasticsearch/service.yaml
  src/_base/helm/app/templates/service/mysql/deployment.yaml
  src/_base/helm/app/templates/service/mysql/pvc.yaml
  src/_base/helm/app/templates/service/mysql/service.yaml
  src/_base/helm/app/templates/service/postgres/deployment.yaml
  src/_base/helm/app/templates/service/postgres/pvc.yaml
  src/_base/helm/app/templates/service/postgres/service.yaml
  src/_base/helm/app/templates/service/rabbitmq/deployment.yaml
  src/_base/helm/app/templates/service/rabbitmq/pvc.yaml
  src/_base/helm/app/templates/service/rabbitmq/service.yaml
  src/_base/helm/app/templates/service/redis-session/deployment.yaml
  src/_base/helm/app/templates/service/redis-session/pvc.yaml
  src/_base/helm/app/templates/service/redis-session/service.yaml
  src/_base/helm/app/templates/service/redis/deployment.yaml
  src/_base/helm/app/templates/service/redis/pvc.yaml
  src/_base/helm/app/templates/service/redis/service.yaml
  src/_base/helm/app/templates/service/varnish/headless-service.yaml
  src/_base/helm/app/templates/service/varnish/service.yaml
  src/_base/helm/app/templates/service/varnish/statefulset.yaml
  src/_base/helm/app/values-production.yaml.twig
  src/_base/helm/app/values.yaml.twig
  src/akeneo/_twig/docker-compose.yml/service/job-queue-consumer.yml.twig
  src/akeneo/harness/attributes/docker.yml
  src/akeneo/helm/app/templates/application/job-queue-consumer/deployment.yaml
  src/akeneo/helm/app/values.yaml.twig
  src/spryker/_twig/docker-compose.yml/application.yml.twig
  src/spryker/_twig/docker-compose.yml/service/jenkins-runner.yml.twig
  src/spryker/_twig/docker-compose.yml/service/jenkins.yml.twig
  src/spryker/harness/attributes/docker.yml
  src/spryker/helm/app/templates/application/jenkins-runner/deployment.yaml
  src/spryker/helm/app/templates/service/jenkins/deployment.yaml
  src/spryker/helm/app/templates/service/jenkins/service.yaml
  src/spryker/helm/app/values.yaml.twig
Labels: enhancement, harness-all

#390 Automatically choose buster based images if php 7.4
  src/_base/harness/attributes/common.yml
  src/drupal8/harness.yml
  src/magento1/harness.yml
  src/magento2/harness.yml
  src/spryker/harness.yml
  src/wordpress/harness.yml
Labels: enhancement, harness-all

#392 MISC Support base64 decoding in more OSes
  src/_base/harness/config/pipeline.yml
Labels: enhancement

#377 Make jenkins service optional for Spryker harness
  src/_base/harness/config/pipeline.yml
  src/_base/harness/scripts/enable.sh.twig
  src/spryker/README.md
  src/spryker/application/skeleton/config/Shared/config_local.php
  src/spryker/application/skeleton/config/install/docker.yml.twig
  src/spryker/harness.yml
  src/spryker/harness/attributes/docker.yml
  src/spryker/harness/config/spryker-pipeline.yml
  src/spryker/harness/scripts/enable.sh.twig
Labels: enhancement, harness-spryker

#400 Use magento root directory for module manifest
  src/magento2/application/skeleton/app/etc/InviqaNonComposerComponentRegistration.php
  src/magento2/application/skeleton/phpstan.neon
Labels: bug, harness-magento2

#391 MISC Publish images and chart only when needed
  src/_base/application/overlay/Jenkinsfile.twig
  src/_base/harness/attributes/common.yml
  src/drupal8/application/overlay/Jenkinsfile.twig
Labels: enhancement, harness-all

#393 Add alternative local/http sealed-secret seal certificate
  src/_base/harness/attributes/common.yml
  src/_base/harness/config/secrets.yml
Labels: enhancement, harness-all

#396 Fix 'ws feature xdebug on/off'
  src/_base/harness/config/commands.yml
Labels: bug, harness-base

#404 Add phpstan-symfony extension
  src/symfony/application/skeleton/composer.json.twig
  src/symfony/application/skeleton/phpstan.neon
Labels: enhancement, harness-symfony

#403 Fix bug in processing non-interactive sealed-secret input
  src/_base/harness/config/secrets.yml
Labels: bug, harness-all

#406 Switch to PSR12 coding standard
  src/magento2/application/overlay/phpcs.xml
  src/magento2/application/skeleton/src/Acme/HelloWorld.php
Labels: enhancement, harness-magento2

#407 Update phpmd ruleset for Magento 2
  src/magento2/application/overlay/phpmd.xml
Labels: enhancement, harness-magento2

#408 Use original base64 -d for support in more linuxes
  src/_base/harness/config/pipeline.yml
Labels: bug, harness-all

#402 Fix Spryker build by not updating spryker web-profiler dependencies
  src/spryker/application/skeleton/composer-harness.json
  src/spryker/docker/image/console/root/lib/task/skeleton/apply.sh.twig
Labels: bug, harness-spryker

#281 Adding documentation for setting up workspace on Drupal projects
  src/drupal8/README.md
  src/drupal8/docs/contribute.md
  src/drupal8/docs/customise/advanced.md
  src/drupal8/docs/customise/commands.md
  src/drupal8/docs/customise/overrides.md
  src/drupal8/docs/install/existing-project.md
  src/drupal8/docs/install/multi-site.md
  src/drupal8/docs/install/new-project.md
Labels: enhancement, harness-drupal8

#413 Move MySQL 8 CLI installation to docker image from harness
  src/akeneo/docker/image/console/Dockerfile.twig
Labels: enhancement, harness-akeneo

#414 Fix Akeneo 4 file storage directory location
  src/akeneo/harness.yml
Labels: bug, harness-akeneo

#415 Wait for elasticsearch before using it in akeneo
  src/akeneo/harness.yml
Labels: bug, harness-akeneo

#417 Move php error reporting so it is available for both cli and fpm
  src/_base/harness/attributes/common.yml
  src/_base/harness/attributes/environment/pipeline.yml
  src/spryker/harness/attributes/environment/pipeline.yml
Labels: bug, harness-base

#410 Fix drupal build to find a Trait the plugins couldn't find
  src/drupal8/application/skeleton/composer.json
  src/drupal8/application/skeleton/docroot/profiles/custom/startup/startup.info.yml
  src/drupal8/application/skeleton/phpstan.deprecation_check.neon
  src/drupal8/application/skeleton/phpstan.neon
Labels: bug, harness-drupal8

#422 Fix varnish PURGE in development environment
  src/magento2/docker/image/varnish/root/etc/varnish/default.vcl.twig
Labels: bug, harness-magento2

#419 Use base OS appropriate Spryker jenkins runner java version
  src/spryker/docker/image/jenkins-runner/Dockerfile.twig
Labels: enhancement, harness-spryker

#423 MISC Fix redis flush command name
  src/magento2/harness.yml
Labels: enhancement, harness-magento2

#424 Bump minimum docker-compose version required
  src/_base/application/skeleton/README.md.twig
Labels: enhancement, harness-base

#380 Allow custom console and cron startup commands
  src/_base/docker/image/console/Dockerfile.twig
  src/_base/docker/image/console/root/entrypoint.sh.twig
  src/_base/docker/image/cron/root/entrypoint.sh
  src/_base/docker/image/cron/root/entrypoint.sh.twig
  src/_base/harness/attributes/common.yml
  src/_base/harness/config/confd.yml
  src/akeneo/docker/image/console/Dockerfile.twig
  src/akeneo/harness/config/confd.yml
  src/drupal8/harness/config/confd.yml
  src/magento1/harness/config/confd.yml
  src/magento2/docker/image/console/Dockerfile.twig
  src/magento2/harness/config/confd.yml
  src/spryker/harness/config/confd.yml
  src/symfony/docker/image/console/Dockerfile.twig
  src/symfony/harness/config/confd.yml
  src/wordpress/harness/config/confd.yml
Labels: enhancement, harness-all

#425 Upgrade Magento to 2.4.0
  create-test-magento.sh
  src/_base/docker/image/tls-offload/root/etc/nginx/conf.d/default.conf.twig
  src/magento2/.ci/sample-dynamic/workspace.yml
  src/magento2/.ci/sample-static/workspace.yml
  src/magento2/application/overlay/app/etc/env.php.twig
  src/magento2/application/skeleton/app/etc/config.php
  src/magento2/application/skeleton/composer.json.twig
  src/magento2/docker/image/nginx/root/etc/nginx/conf.d/default.conf.template.twig
  src/magento2/harness.yml
  src/magento2/harness/attributes/docker.yml
Labels: enhancement, harness-magento2

#420 Copy redis-cli from the first enabled redis service's image
  src/_base/docker/image/console/Dockerfile.twig
  src/akeneo/docker/image/console/Dockerfile.twig
  src/magento2/docker/image/console/Dockerfile.twig
  src/symfony/docker/image/console/Dockerfile.twig
Labels: enhancement, harness-all

#426 Akeneo - fix random build failures
  src/_base/harness/scripts/enable.sh.twig
  src/akeneo/harness.yml
  src/akeneo/harness/scripts/enable.sh.twig
Labels: bug, harness-akeneo, harness-base

#411 Add Tideways Support
  src/_base/.ci/sample-static/workspace.yml
  src/_base/_twig/docker-compose.yml/service/tideways.yml.twig
  src/_base/docker/image/console/Dockerfile.twig
  src/_base/docker/image/console/root/usr/local/etc/php/conf.d/docker-php-ext-tideways.ini.twig
  src/_base/docker/image/php-fpm/Dockerfile.twig
  src/_base/docker/image/php-fpm/root/usr/local/etc/php/conf.d/docker-php-ext-tideways.ini.twig
  src/_base/docker/image/tideways/Dockerfile
  src/_base/harness/attributes/common.yml
  src/_base/harness/attributes/docker-base.yml
  src/_base/harness/config/commands.yml
  src/_base/harness/config/confd.yml
  src/akeneo/docker/image/console/Dockerfile.twig
  src/akeneo/harness/config/confd.yml
  src/drupal8/harness/config/confd.yml
  src/magento1/harness/config/confd.yml
  src/magento2/docker/image/console/Dockerfile.twig
  src/magento2/harness/config/confd.yml
  src/spryker/harness/config/confd.yml
  src/symfony/docker/image/console/Dockerfile.twig
  src/symfony/harness/config/confd.yml
  src/wordpress/harness/config/confd.yml
Labels: enhancement, harness-all

#370 Increase push timeout for docker-compose
  src/_base/harness/config/pipeline.yml
Labels: enhancement, harness-base

#431 Switch to Redis 5
  src/_base/harness/attributes/docker-base.yml
Labels: harness-base

#409 Update skeleton README with more hostnames
  src/_base/application/skeleton/README.md.twig
  src/drupal8/.ci/sample-dynamic/workspace.yml
Labels: enhancement, harness-base

#412 Add Blackfire Support
  src/_base/_twig/docker-compose.yml/service/blackfire.yml.twig
  src/_base/docker/image/console/root/usr/local/etc/php/conf.d/docker-php-ext-blackfire.ini.twig
  src/_base/docker/image/php-fpm/root/usr/local/etc/php/conf.d/docker-php-ext-blackfire.ini.twig
  src/_base/harness/attributes/common.yml
  src/_base/harness/attributes/docker-base.yml
  src/_base/harness/config/commands.yml
  src/_base/harness/config/confd.yml
  src/akeneo/harness/config/confd.yml
  src/drupal8/harness/config/confd.yml
  src/magento1/harness/config/confd.yml
  src/magento2/harness/config/confd.yml
  src/spryker/harness/config/confd.yml
  src/symfony/harness/config/confd.yml
  src/wordpress/harness/config/confd.yml
Labels: enhancement, harness-all

#359 Replace global zed host with store specific hosts
  src/spryker/_twig/docker-compose.yml/application.yml.twig
  src/spryker/_twig/docker-compose.yml/environment.yml.twig
  src/spryker/_twig/docker-compose.yml/nginx_environment.yml.twig
  src/spryker/application/skeleton/config/Shared/config_local.php
  src/spryker/docker/image/console/root/lib/task/welcome.sh.twig
  src/spryker/docker/image/nginx/root/docker-entrypoint.d/config_render.sh.twig
  src/spryker/docker/image/nginx/root/etc/nginx/conf.d/zed.conf.template.twig
  src/spryker/harness.yml
  src/spryker/harness/attributes/docker.yml
  src/spryker/helm/preview/values.yaml.twig
  src/spryker/helm/qa/values.yaml.twig
Labels: bug, harness-spryker

#418 Add drupal8 cron configuration
  src/drupal8/harness.yml
Labels: enhancement, harness-drupal8

#432 Remove CI port forwarding
  src/_base/.ci/sample-dynamic/workspace.yml
  src/_base/_twig/docker-compose.yml/service/elasticsearch.yml.twig
  src/_base/_twig/docker-compose.yml/service/mysql.yml.twig
  src/_base/_twig/docker-compose.yml/service/postgres.yml.twig
  src/_base/harness/attributes/common.yml
  src/akeneo/.ci/sample-dynamic/workspace.yml
  src/drupal8/.ci/sample-dynamic/workspace.yml
  src/magento1/.ci/sample-dynamic/workspace.yml
  src/magento2/.ci/sample-dynamic/workspace.yml
  src/spryker/.ci/sample-dynamic/workspace.yml
  src/symfony/.ci/sample-dynamic/workspace.yml
  src/wordpress/.ci/sample-dynamic/workspace.yml
Labels: enhancement, harness-base

#427 Spryker - Do not wait 60 seconds if the queue is empty
  src/spryker/application/skeleton/config/install/docker.yml.twig
Labels: enhancement, harness-spryker

#357 More release instructions
  README.md
Labels: enhancement, skip-changelog

#428 Test using 3 Jenkins workers
  Jenkinsfile
  delete_running_containers.sh
Labels: enhancement, harness-base
