Repository inviqa/harness-base-php, pull requests merged in 2020-03, with the labels that each got.

#215 Add mutagen sync
  src/_base/_twig/docker-compose.yml/application.yml.twig
  src/_base/_twig/docker-compose.yml/service/cron.yml.twig
  src/_base/application/skeleton/README.md.twig
  src/_base/docker-compose.yml.twig
  src/_base/docker/image/console/root/entrypoint.dynamic.sh
  src/_base/docker/image/php-fpm/root/entrypoint.dynamic.sh
  src/_base/harness/attributes/common.yml
  src/_base/harness/config/commands.yml
  src/_base/harness/config/confd.yml
  src/_base/harness/config/docker-sync.yml
  src/_base/harness/config/mutagen.yml
  src/_base/harness/scripts/destroy.sh
  src/_base/harness/scripts/disable.sh
  src/_base/harness/scripts/docker_sync.sh
  src/_base/harness/scripts/enable.sh.twig
  src/_base/harness/scripts/latest-mutagen-release.php
  src/_base/harness/scripts/mutagen.sh
  src/_base/mutagen.yml.twig
  src/akeneo/_twig/docker-compose.yml/service/job-queue-consumer.yml.twig
  src/akeneo/application/skeleton/.gitignore
  src/akeneo/harness/config/confd.yml
  src/akeneo/harness/scripts/enable.sh.twig
  src/drupal8/application/skeleton/.gitignore.twig
  src/drupal8/harness/config/confd.yml
  src/magento1/application/skeleton/.gitignore
  src/magento1/harness/config/confd.yml
  src/magento2/application/skeleton/.gitignore
  src/magento2/harness/config/confd.yml
  src/spryker/_twig/docker-compose.yml/application.yml.twig
  src/spryker/_twig/docker-compose.yml/service/jenkins-runner.yml.twig
  src/spryker/application/skeleton/.gitignore.twig
  src/spryker/harness/config/confd.yml
  src/spryker/harness/scripts/enable.sh.twig
  src/wordpress/application/skeleton/.gitignore
  src/wordpress/harness/config/confd.yml
  test
Labels: enhancement, harness-base

#157 Bump to Magento 2.3.4
  src/magento2/application/skeleton/composer.json.twig
Labels: enhancement, harness-magento2

#232 Run composer tests in static build
  test
Labels: enhancement

#179 Add PHP syntax checking to code quality testing
  src/drupal8/application/skeleton/composer.json
  src/magento1/application/skeleton/_twig/composer.json/default.twig
  src/magento1/application/skeleton/_twig/composer.json/php-5.6.twig
  src/magento1/docker/image/console/root/lib/task/welcome.sh
  src/magento1/harness.yml
  src/magento2/application/skeleton/composer.json.twig
  src/wordpress/application/skeleton/composer.json.twig
Labels: enhancement, harness-all

#239 Fix mutagen file permissions sync to host
  src/_base/mutagen.yml.twig
Labels: bug, harness-base

#235 Anchor mutagen ignore paths at project root
  src/_base/mutagen.yml.twig
Labels: bug, harness-base

#240 Disable k8s service links
  src/_base/helm/app/templates/application/app-init.yaml
  src/_base/helm/app/templates/application/app-migrate.yaml
  src/_base/helm/app/templates/application/console/deployment.yaml
  src/_base/helm/app/templates/application/cron/deployment.yaml
  src/_base/helm/app/templates/application/webapp/deployment.yaml
  src/akeneo/helm/app/templates/application/job-queue-consumer/deployment.yaml
  src/spryker/helm/app/templates/application/jenkins-runner/deployment.yaml
Labels: bug, harness-base

#241 Add volume mounts to the init and migrate pod specs
  src/_base/helm/app/templates/application/app-init.yaml
  src/_base/helm/app/templates/application/app-migrate.yaml
Labels: bug, harness-base

#237 Fix `ws docker-sync stop` removing sync container
  src/_base/harness/scripts/docker_sync.sh
Labels: bug, harness-base

#231 Add package namespace to all composer skeleton files
  src/magento2/application/skeleton/composer.json.twig
  src/wordpress/application/skeleton/composer.json.twig
Labels: enhancement, harness-magento2, harness-wordpress

#233 Ignore mutagen.yml in gitignore
  src/akeneo/application/skeleton/.gitignore
  src/drupal8/application/skeleton/.gitignore.twig
  src/magento1/application/skeleton/.gitignore
  src/magento2/application/skeleton/.gitignore
  src/spryker/application/skeleton/.gitignore.twig
  src/wordpress/application/skeleton/.gitignore
Labels: enhancement, harness-all

#234 Treat non-relative symlinks as raw in mutagen
  src/_base/application/skeleton/README.md.twig
  src/_base/mutagen.yml.twig
Labels: bug, harness-base

#236 Trace of what happens during `ws enable`
  src/_base/harness/config/mutagen.yml
Labels: enhancement, harness-base

#218 Memory requests equal limits
  README.md
  src/_base/harness/attributes/common.yml
  src/_base/helm/app/_twig/values.yaml/resources.yml.twig
  src/_base/helm/app/templates/application/app-init.yaml
  src/_base/helm/app/templates/application/app-migrate.yaml
  src/_base/helm/app/templates/application/console/deployment.yaml
  src/_base/helm/app/templates/application/cron/deployment.yaml
  src/_base/helm/app/templates/application/webapp/deployment.yaml
  src/_base/helm/app/templates/service/elasticsearch/deployment.yaml
  src/_base/helm/app/templates/service/mysql/deployment.yaml
  src/_base/helm/app/templates/service/postgres/deployment.yaml
  src/_base/helm/app/templates/service/redis-session/deployment.yaml
  src/_base/helm/app/templates/service/redis/deployment.yaml
  src/akeneo/harness/attributes/docker.yml
  src/akeneo/helm/app/_twig/values.yaml/resources.yml.twig
  src/akeneo/helm/app/templates/application/job-queue-consumer/deployment.yaml
  src/spryker/harness.yml
  src/spryker/helm/app/_twig/values.yaml/resources.yml.twig
  src/spryker/helm/app/templates/application/jenkins-runner/deployment.yaml
  src/spryker/helm/app/templates/service/jenkins/deployment.yaml
  src/spryker/helm/app/templates/service/rabbitmq/deployment.yaml
Labels: enhancement, harness-base

#242 add backend volume mount to init and migrate pod specs
  src/_base/helm/app/templates/application/app-init.yaml
  src/_base/helm/app/templates/application/app-migrate.yaml
Labels: bug, harness-base

#246 Add prometheus operator podmonitoring
  src/_base/harness/attributes/docker-base.yml
  src/_base/helm/app/templates/application/webapp/deployment.yaml
  src/_base/helm/app/templates/application/webapp/podmonitor.yaml
  src/_base/helm/app/values.yaml.twig
  src/spryker/helm/app/values.yaml.twig
Labels: enhancement, harness-base

#247 allow publishing chart to a git repository
  src/_base/application/overlay/Jenkinsfile.twig
  src/_base/harness/attributes/common.yml
  src/_base/harness/config/pipeline.yml
Labels: enhancement, harness-base

#248 make application chart argocd compatible
  src/_base/docker/image/console/root/bin/app
  src/_base/docker/image/console/root/lib/functions.sh
  src/_base/docker/image/console/root/lib/task/assets/apply.sh
  src/_base/docker/image/console/root/lib/task/init.sh.twig
  src/_base/helm/app/templates/application/app-init.yaml
  src/_base/helm/app/templates/application/app-migrate.yaml
  src/_base/helm/app/templates/application/console/deployment.yaml
  src/_base/helm/app/templates/application/cron/deployment.yaml
  src/_base/helm/app/templates/application/webapp/deployment.yaml
  src/akeneo/helm/app/templates/application/job-queue-consumer/deployment.yaml
  src/spryker/helm/app/templates/application/jenkins-runner/deployment.yaml
Labels: enhancement, harness-base

#250 make console pod optional
  src/_base/helm/app/templates/application/console/deployment.yaml
  src/_base/helm/app/values.yaml.twig
  src/spryker/helm/app/values.yaml.twig
Labels: enhancement, harness-base

#253 magento2 pipeline deployment
  .travis.yml
  src/_base/docker/image/console/Dockerfile.twig
  src/magento2/application/skeleton/app/etc/config.php
  src/magento2/docker/image/console/root/bin/strip-magento-config
  src/magento2/docker/image/console/root/bin/validate-magento-config
  src/magento2/docker/image/console/root/lib/task/magento/dump-config.sh
  src/magento2/harness.yml
Labels: enhancement, harness-magento2

#251 provide default values for preview environments
  src/_base/harness/attributes/docker-base.yml
  src/_base/harness/config/confd.yml
  src/_base/helm/app/values-preview.yaml.twig
  src/akeneo/harness/config/confd.yml
  src/drupal8/harness/config/confd.yml
  src/magento1/harness/config/confd.yml
  src/magento2/harness/config/confd.yml
  src/spryker/harness/config/confd.yml
  src/wordpress/harness/config/confd.yml
Labels: enhancement, harness-base

#252 provide default values for production environment
  src/_base/harness/attributes/docker-base.yml
  src/_base/harness/config/confd.yml
  src/_base/helm/app/values-production.yaml.twig
  src/akeneo/harness/config/confd.yml
  src/drupal8/harness/config/confd.yml
  src/magento1/harness/config/confd.yml
  src/magento2/harness/config/confd.yml
  src/spryker/harness/config/confd.yml
  src/wordpress/harness/config/confd.yml
Labels: enhancement, harness-base

#254 fix attribute references in publish chart command
  src/_base/harness/config/pipeline.yml
Labels: bug, harness-base, skip-changelog

#255 Remove unused php-fpm-exporter service
  src/_base/helm/app/templates/application/webapp/service-php-fpm-exporter.yaml
Labels: harness-base

#256 Move console.enabled to services for attribute override capability
  src/_base/harness/attributes/docker-base.yml
  src/_base/helm/app/templates/application/console/deployment.yaml
  src/_base/helm/app/values-preview.yaml.twig
  src/_base/helm/app/values-production.yaml.twig
  src/_base/helm/app/values.yaml.twig
Labels: enhancement, harness-base

#257 enable persistent storage for preview environments
  src/akeneo/harness/attributes/docker.yml
  src/drupal8/harness/attributes/docker.yml
  src/magento1/harness/attributes/docker.yml
  src/magento2/harness/attributes/docker.yml
  src/spryker/harness/attributes/docker.yml
Labels: enhancement, harness-base

#258 lower the revision history limit for k8s deployments
  src/_base/helm/app/templates/application/console/deployment.yaml
  src/_base/helm/app/templates/application/cron/deployment.yaml
  src/_base/helm/app/templates/application/webapp/deployment.yaml
  src/akeneo/helm/app/templates/application/job-queue-consumer/deployment.yaml
  src/spryker/helm/app/templates/application/jenkins-runner/deployment.yaml
Labels: enhancement, harness-base

#259 Always use prod mode to avoid issues in interpolating env var
  src/akeneo/harness.yml
Labels: bug, harness-akeneo

#260 Add php-fpm status endpoint for php-fpm_exporter
  src/_base/_twig/docker-compose.yml/service/php-fpm-exporter.yml.twig
  src/_base/docker/image/php-fpm/root/entrypoint.sh.twig
  src/_base/harness/attributes/common.yml
  src/_base/harness/attributes/docker-base.yml
  src/_base/helm/app/templates/application/webapp/deployment.yaml
Labels: enhancement, harness-base

#261 0.5.0 changelog entries
  CHANGELOG.md
Labels: skip-changelog

#262 Fix dash-casing of php-fpm-exporter services
  src/_base/helm/app/templates/application/webapp/podmonitor.yaml
Labels: bug, harness-base
