Repository inviqa/harness-base-php, pull requests merged in 2020-07, with the labels that each got.

#341 Add new core Composer tools
  src/drupal8/application/skeleton/composer.json
Labels: harness-drupal8

#335 Use fully expressive variable name for git ssh private key
  src/_base/harness/attributes/common.yml
  src/_base/harness/config/pipeline.yml
Labels: enhancement, harness-base

#334 Set host volume options to cached and make a delegated-volumes flag
  src/_base/_twig/docker-compose.yml/application.yml.twig
  src/_base/_twig/docker-compose.yml/service/cron.yml.twig
  src/_base/harness/attributes/common.yml
  src/_base/harness/config/mutagen.yml
  src/akeneo/_twig/docker-compose.yml/service/job-queue-consumer.yml.twig
  src/spryker/_twig/docker-compose.yml/application.yml.twig
  src/spryker/_twig/docker-compose.yml/service/jenkins-runner.yml.twig
Labels: bug, harness-akeneo, harness-base, harness-spryker

#340 Remove spryker console dev image
  src/_base/harness/scripts/destroy.sh
Labels: bug, harness-base

#330 Use the production DI for magento2 in phpspec/phpstan
  src/magento2/application/skeleton/composer.json.twig
  src/magento2/application/skeleton/phpspec.yml
  src/magento2/application/skeleton/phpstan.neon
  src/magento2/application/skeleton/tools/devtools-bootstrap.php
Labels: bug, harness-magento2

#343 Make chart git ssh_private_key backwards compatible deprecation
  src/_base/harness/attributes/common.yml
Labels: bug, harness-all

#336 Use mutagen.yml config to manage mutagen docker containers
  src/_base/docker-compose.yml.twig
  src/_base/harness/config/confd.yml
  src/_base/harness/config/mutagen.yml
  src/_base/harness/scripts/destroy.sh
  src/_base/harness/scripts/mutagen.sh
  src/akeneo/harness/config/confd.yml
  src/drupal8/harness/config/confd.yml
  src/magento1/harness/config/confd.yml
  src/magento2/harness/config/confd.yml
  src/spryker/harness/config/confd.yml
  src/wordpress/harness/config/confd.yml
Labels: enhancement, harness-all

#344 Bump Magento to 2.3.5-p2
  src/magento2/application/skeleton/composer.json.twig
Labels: enhancement, harness-magento2

#328 Avoid copying vendor folder to NGINX, apart from akeneo
  src/_base/docker/image/nginx/Dockerfile.twig
  src/_base/harness/attributes/common.yml
  src/akeneo/harness.yml
Labels: enhancement, harness-akeneo, harness-base

#329 Avoid copying node_modules to php-fpm
  src/_base/docker/image/php-fpm/Dockerfile.twig
Labels: enhancement, harness-base

#345 Deduce the docker registry_url from repository
  src/_base/harness/attributes/common.yml
  src/_base/harness/config/functions.yml
  src/_base/harness/config/pipeline.yml
  src/akeneo/harness/config/q-akeneo-pipeline.yml
  src/spryker/harness/config/spryker-pipeline.yml
Labels: bug, enhancement, harness-all

#339 Support image pull configuration using sealed-secrets
  src/_base/harness/attributes/common.yml
  src/_base/harness/config/functions.yml
  src/_base/harness/config/pipeline.yml
  src/_base/harness/config/secrets.yml
  src/_base/helm/app/templates/application/app-init.yaml
  src/_base/helm/app/templates/application/app-migrate.yaml
  src/_base/helm/app/templates/application/console/deployment.yaml
  src/_base/helm/app/templates/application/cron/deployment.yaml
  src/_base/helm/app/templates/application/docker-config.yaml
  src/_base/helm/app/templates/application/image-pull-config.yaml
  src/_base/helm/app/templates/application/webapp/deployment.yaml
  src/_base/helm/app/values.yaml.twig
  src/akeneo/helm/app/templates/application/job-queue-consumer/deployment.yaml
  src/akeneo/helm/app/values.yaml.twig
  src/spryker/helm/app/templates/application/jenkins-runner/deployment.yaml
  src/spryker/helm/app/values.yaml.twig
  test
Labels: enhancement, harness-all

#338 Use docker-compose build/push and service push config
  src/_base/_twig/docker-compose.yml/application.yml.twig
  src/_base/_twig/docker-compose.yml/service/cron.yml.twig
  src/_base/_twig/docker-compose.yml/service/varnish.yml.twig
  src/_base/harness/attributes/common.yml
  src/_base/harness/attributes/docker-base.yml
  src/_base/harness/config/functions.yml
  src/_base/harness/config/pipeline.yml
  src/akeneo/_twig/docker-compose.yml/service/job-queue-consumer.yml.twig
  src/akeneo/harness/attributes/docker.yml
  src/akeneo/harness/config/q-akeneo-pipeline.yml
  src/spryker/_twig/docker-compose.yml/application.yml.twig
  src/spryker/_twig/docker-compose.yml/service/jenkins-runner.yml.twig
  src/spryker/harness/attributes/docker.yml
  src/spryker/harness/config/spryker-pipeline.yml
Labels: enhancement, harness-all

#347 Remove node_modules from console image. Clear cache
  src/_base/harness/attributes/common.yml
  src/spryker/harness.yml
Labels: enhancement, harness-base, harness-spryker

#346 Use production webpack build when in static mode for akeneo
  src/akeneo/harness.yml
Labels: enhancement, harness-akeneo

#342 Add ability to define env vars from k8s secrets
  src/_base/_twig/docker-compose.yml/application.yml.twig
  src/_base/_twig/docker-compose.yml/service/cron.yml.twig
  src/_base/_twig/docker-compose.yml/service/mysql.yml.twig
  src/_base/_twig/docker-compose.yml/service/php-fpm-exporter.yml.twig
  src/_base/_twig/docker-compose.yml/service/postgres.yml.twig
  src/_base/_twig/docker-compose.yml/service/rabbitmq.yml.twig
  src/_base/_twig/docker-compose.yml/service/varnish.yml.twig
  src/_base/harness/attributes/docker-base.yml
  src/_base/harness/config/functions.yml
  src/_base/harness/config/secrets.yml
  src/_base/helm/app/templates/_base_helper.tpl
  src/_base/helm/app/templates/application/app-init.yaml
  src/_base/helm/app/templates/application/app-migrate.yaml
  src/_base/helm/app/templates/application/console/deployment.yaml
  src/_base/helm/app/templates/application/console/secret.yaml
  src/_base/helm/app/templates/application/cron/deployment.yaml
  src/_base/helm/app/templates/application/cron/secret.yaml
  src/_base/helm/app/templates/application/webapp/deployment.yaml
  src/_base/helm/app/templates/application/webapp/secret-nginx.yaml
  src/_base/helm/app/templates/application/webapp/secret-php-fpm.yaml
  src/_base/helm/app/templates/service/mysql/deployment.yaml
  src/_base/helm/app/templates/service/mysql/secret.yaml
  src/_base/helm/app/templates/service/postgres/deployment.yaml
  src/_base/helm/app/templates/service/postgres/secret.yaml
  src/_base/helm/app/templates/service/rabbitmq/deployment.yaml
  src/_base/helm/app/templates/service/rabbitmq/secret.yaml
  src/_base/helm/app/values-preview.yaml.twig
  src/_base/helm/app/values-production.yaml.twig
  src/_base/helm/app/values.yaml.twig
  src/_base/helm/qa/values.yaml.twig
  src/akeneo/_twig/docker-compose.yml/service/job-queue-consumer.yml.twig
  src/akeneo/harness/attributes/docker.yml
  src/akeneo/helm/app/templates/application/job-queue-consumer/deployment.yaml
  src/akeneo/helm/app/templates/application/job-queue-consumer/secret.yaml
  src/akeneo/helm/app/values.yaml.twig
  src/drupal8/harness/attributes/docker.yml
  src/magento2/harness/attributes/docker.yml
  src/spryker/_twig/docker-compose.yml/application.yml.twig
  src/spryker/_twig/docker-compose.yml/service/jenkins-runner.yml.twig
  src/spryker/harness/attributes/docker.yml
  src/spryker/helm/app/templates/application/jenkins-runner/deployment.yaml
  src/spryker/helm/app/templates/application/jenkins-runner/secret.yaml
  src/spryker/helm/app/values.yaml.twig
  src/spryker/helm/preview/values.yaml.twig
  src/spryker/helm/qa/values.yaml.twig
  src/wordpress/harness/attributes/docker.yml
Labels: enhancement, harness-all
