Repository inviqa/harness-base-php, pull requests merged in 2020-05, with the labels that each got.

#284 Avoid copying assets to php-fpm from console
  src/_base/docker/image/php-fpm/Dockerfile.twig
  src/_base/harness/scripts/destroy.sh
Labels: harness-base

#280 Production PHP Settings
  src/_base/harness/attributes/common.yml
  src/_base/harness/attributes/environment/pipeline.yml
Labels: harness-base

#289 Prompt for magento edition when creating
  src/magento1/harness.yml
  src/magento2/harness.yml
Labels: enhancement, harness-magento1, harness-magento2

#274 Run `setup:di:compile` for Magento 2 in static mode
  src/magento2/harness.yml
Labels: enhancement, harness-magento2

#290 Allow using a fixed mysql port forward to the host
  src/_base/_twig/docker-compose.yml/service/mysql.yml.twig
  src/_base/application/skeleton/README.md.twig
  src/_base/harness/attributes/common.yml
Labels: enhancement, harness-base

#294 0.6.0 Changelog
  CHANGELOG.md
Labels: skip-changelog

#298 Fix drupal8 build
  src/drupal8/application/overlay/phpcs.xml.twig
Labels: bug, harness-drupal8

#297 Keep generated directory contents on backend init for magento2
  src/magento2/harness.yml
Labels: enhancement, harness-magento2

#301 Allow automated builds to show us errors
  src/_base/docker/image/console/root/lib/sidekick.sh
Labels: enhancement, harness-base

#302 Fail init job completely if the first attempt fails
  src/_base/helm/app/templates/application/app-init.yaml
Labels: bug, harness-base

#303 Resource Prefix support for Magento 1 & 2
  src/_base/harness/attributes/common.yml
  src/_base/harness/attributes/docker-base.yml
  src/magento1/application/overlay/public/app/etc/_twig/local.xml/session/redis.twig
  src/magento1/application/overlay/public/app/etc/local.xml.twig
  src/magento2/application/overlay/app/etc/env.php.twig
  src/magento2/harness.yml
  src/spryker/harness.yml
  src/spryker/harness/attributes/docker.yml
Labels: enhancement, harness-base, harness-magento1, harness-magento2, harness-spryker

#304 Configure Magento 2 Cron
  src/_base/docker/image/cron/Dockerfile.twig
  src/_base/docker/image/cron/root/cron-run-with-env.sh
  src/_base/harness/config/pipeline.yml
  src/_base/harness/scripts/enable.sh.twig
  src/akeneo/docker/.DS_Store
  src/akeneo/docker/image/.DS_Store
  src/akeneo/docker/image/nginx/.DS_Store
  src/akeneo/harness/scripts/enable.sh.twig
  src/magento2/.ci/sample-static/workspace.yml
  src/magento2/harness.yml
  src/spryker/harness/scripts/enable.sh.twig
Labels: enhancement, harness-base, harness-magento2

#287 Akeneo 4.x Support
  Jenkinsfile
  deploy-preview
  src/_base/application/overlay/Jenkinsfile.twig
  src/akeneo/.ci/sample-dynamic/workspace.yml
  src/akeneo/.ci/sample-static/workspace.yml
  src/akeneo/application/overlay/app/config/parameters.yml.twig
  src/akeneo/application/overlay/phpcs.xml
  src/akeneo/application/overlay/phpmd.xml
  src/akeneo/application/skeleton/.gitignore
  src/akeneo/application/skeleton/app/.htaccess
  src/akeneo/application/skeleton/app/AppCache.php
  src/akeneo/application/skeleton/app/AppKernel.php
  src/akeneo/application/skeleton/app/PimRequirements.php
  src/akeneo/application/skeleton/app/autoload.php
  src/akeneo/application/skeleton/app/config/config.yml
  src/akeneo/application/skeleton/app/config/config_behat.yml
  src/akeneo/application/skeleton/app/config/config_dev.yml
  src/akeneo/application/skeleton/app/config/config_prod.yml
  src/akeneo/application/skeleton/app/config/config_test.yml
  src/akeneo/application/skeleton/app/config/parameters.yml.dist
  src/akeneo/application/skeleton/app/config/pim_parameters.yml
  src/akeneo/application/skeleton/app/config/routing.yml
  src/akeneo/application/skeleton/app/config/routing_dev.yml
  src/akeneo/application/skeleton/app/config/security.yml
  src/akeneo/application/skeleton/app/config/security_test.yml
  src/akeneo/application/skeleton/behat.yml.twig
  src/akeneo/application/skeleton/bin/console
  src/akeneo/application/skeleton/composer.json
  src/akeneo/application/skeleton/composer.json.twig
  src/akeneo/application/skeleton/features/bootstrap/Context/WebWithMinkContext.php
  src/akeneo/application/skeleton/features/bootstrap/Context/WebWithPageObjectsWithConstructorInjectionContext.php
  src/akeneo/application/skeleton/features/bootstrap/Context/WebWithPageObjectsWithFactoryInjectionContext.php
  src/akeneo/application/skeleton/features/bootstrap/Page/HomePage.php
  src/akeneo/application/skeleton/features/bootstrap/Page/LoginPage.php
  src/akeneo/application/skeleton/features/web/home/homepage.feature
  src/akeneo/application/skeleton/package.json
  src/akeneo/application/skeleton/phpstan-baseline.neon
  src/akeneo/application/skeleton/phpstan.neon
  src/akeneo/application/skeleton/src/.htaccess
  src/akeneo/application/skeleton/var/SymfonyRequirements.php
  src/akeneo/application/skeleton/web/.gitignore
  src/akeneo/application/skeleton/web/.htaccess
  src/akeneo/application/skeleton/web/app.php
  src/akeneo/application/skeleton/web/app_dev.php
  src/akeneo/application/skeleton/web/favicon.ico
  src/akeneo/application/skeleton/web/install.php
  src/akeneo/application/skeleton/web/robots.txt
  src/akeneo/application/static/phpstan.neon
  src/akeneo/docker/image/console/Dockerfile.twig
  src/akeneo/docker/image/console/root/lib/task/composer/install.sh.twig
  src/akeneo/docker/image/job-queue-consumer/root/etc/supervisor/conf.d/container-cmd.conf
  src/akeneo/docker/image/nginx/root/etc/nginx/conf.d/default.conf.template.twig
  src/akeneo/harness.yml
  src/akeneo/harness/attributes/docker.yml
  src/akeneo/harness/attributes/environment/local.yml
  src/akeneo/harness/attributes/environment/pipeline.yml
  src/akeneo/harness/config/confd.yml
  src/akeneo/helm/app/values.yaml.twig
  test
Labels: breaking, enhancement, harness-akeneo

#306 Use less executors at once in Jenkins
  Jenkinsfile
  test
Labels: enhancement

#300 Indicate that confd(harness:/) isn't part of the public api
  src/_base/harness/config/confd.yml
  src/akeneo/harness/config/confd.yml
  src/drupal8/harness/config/confd.yml
  src/magento1/harness/config/confd.yml
  src/magento2/harness/config/confd.yml
  src/spryker/harness/config/confd.yml
  src/wordpress/harness/config/confd.yml
Labels: enhancement, harness-all

#296 Add missing php-fpm pool overrides to pool config
  src/_base/docker/image/php-fpm/root/usr/local/etc/php-fpm.d/pool.conf.template.twig
  src/_base/harness/config/confd.yml
  src/_base/harness/config/functions.yml
  src/akeneo/harness/config/confd.yml
  src/drupal8/harness/config/confd.yml
  src/magento1/harness/config/confd.yml
  src/magento2/harness/config/confd.yml
  src/spryker/harness/config/confd.yml
  src/wordpress/harness/config/confd.yml
Labels: enhancement, harness-all

#308 Add 0.7.0 Changelog
  CHANGELOG.md
Labels: skip-changelog
