Repository inviqa/harness-base-php, pull requests merged in 2021-11, with the labels that each got.

#631 Pass platform through to external-image config and skip stage aliases
  src/_base/harness/config/external-images.yml
  src/_base/harness/config/functions.yml
Labels: migrate-to-harness-docker

#632 Fetch the correct architecture mutagen binary for the host
  src/_base/harness/scripts/latest-mutagen-release.php
Labels: migrate-to-harness-docker

#633 Fix issue with MacOS Big Sur and later not using brew for mutagen
  src/_base/harness/scripts/mutagen.sh
Labels: migrate-to-harness-docker

#639 Fix issue with scratch:latest being added in `ws external-images config`
  src/_base/harness/config/functions.yml
Labels: migrate-to-harness-docker

#640 Update elasticsearch default to latest version (7.14.2)
  src/_base/harness/attributes/common.yml
Labels: enhancement, harness-base, harness-spryker, harness-drupal8, harness-wordpress, harness-symfony, migrate-to-harness-docker

#641 Update magento2 elasticsearch to 7.10.1
  src/magento2/harness.yml
  src/magento2/harness/attributes/docker.yml
Labels: enhancement, harness-magento2

#628 Use new external network syntax
  src/_base/docker-compose.yml.twig
Labels: enhancement, harness-base, hacktoberfest-accepted

#604 Use memory for SQLite testing in drupal8
  src/drupal8/_twig/docker-compose.yml/service/php-fpm.yml.twig
  src/drupal8/application/overlay/phpunit.xml.twig
Labels: enhancement, harness-drupal8

#622 Pass through tideways hostname and env variable
  src/_base/helm/app/templates/service/tideways/deployment.yaml
Labels: enhancement, harness-base

#616 Switch changelog generator docker image
  README.md
Labels: enhancement

#597 Fix magento2 migrate pending on app:config:import question during setup:upgrade
  src/magento2/harness.yml
Labels: bug, harness-magento2

#643 Switch mysql image to mysql/mysql-server if not amd64 host architecture, changing default to 8.0
  src/_base/harness/attributes/common.yml
  src/_base/harness/config/functions.yml
  src/akeneo/harness.yml
  src/magento1/harness.yml
Labels: enhancement, harness-all, migrate-to-harness-docker

#613 Support proper booleans and discourage use of yes/no except in bash
  src/_base/_twig/docker-compose.yml/service/console.yml.twig
  src/_base/_twig/docker-compose.yml/service/nginx.yml.twig
  src/_base/_twig/docker-compose.yml/service/php-fpm.yml.twig
  src/_base/application/overlay/Jenkinsfile.twig
  src/_base/application/skeleton/README.md.twig
  src/_base/docker-compose.yml.twig
  src/_base/docker/image/console/root/usr/local/etc/php/conf.d/docker-php-ext-blackfire.ini.twig
  src/_base/docker/image/console/root/usr/local/etc/php/conf.d/docker-php-ext-tideways.ini.twig
  src/_base/docker/image/console/root/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini.twig
  src/_base/docker/image/php-fpm/root/usr/local/etc/php/conf.d/docker-php-ext-blackfire.ini.twig
  src/_base/docker/image/php-fpm/root/usr/local/etc/php/conf.d/docker-php-ext-tideways.ini.twig
  src/_base/docker/image/php-fpm/root/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini.twig
  src/_base/harness/attributes/common.yml
  src/_base/harness/config/commands.yml
  src/_base/harness/config/external-images.yml
  src/_base/harness/config/functions.yml
  src/_base/harness/config/mutagen.yml
  src/_base/harness/config/secrets.yml
  src/_base/harness/config/xdebug.yml
  src/drupal8/application/overlay/Jenkinsfile.twig
  src/spryker/_twig/docker-compose.yml/service/console.yml.twig
Labels: enhancement, harness-all

#581 Move shellcheck to Jenkins. Add Hadolint
  .gitignore
  .travis.yml
  Jenkinsfile
  README.md
  quality
  src/_base/docker/image/console/root/entrypoint.sh.twig
  src/_base/docker/image/console/root/lib/task/build/backend.sh.twig
  src/_base/docker/image/console/root/lib/task/build/frontend.sh.twig
  src/_base/docker/image/console/root/lib/task/database/import.sh.twig
  src/_base/docker/image/cron/Dockerfile.twig
  src/_base/docker/image/cron/root/entrypoint.sh.twig
  src/_base/docker/image/lighthouse/Dockerfile.twig
  src/_base/docker/image/php-fpm/Dockerfile.twig
  src/_base/docker/image/php-fpm/root/entrypoint.sh.twig
  src/_base/harness/scripts/mutagen.sh
  src/akeneo/docker/image/job-queue-consumer/Dockerfile.twig
  src/spryker/docker/image/nginx/root/docker-entrypoint.d/config_render.sh.twig
  src/spryker/harness.yml
  src/wordpress/harness.yml
  test
Labels: enhancement, harness-all
