Repository inviqa/harness-base-php, pull requests merged in 2021-01, with the labels that each got.

#490 Fix magento2 strip config
  src/magento2/application/skeleton/app/etc/config.php
  src/magento2/docker/image/console/root/bin/strip-magento-config
  src/magento2/harness.yml
Labels: enhancement, harness-magento2

#506 Use PHP 8.0 for no-framework and symfony
  src/_base/harness/attributes/common.yml
  src/drupal8/harness.yml
  src/magento2/harness.yml
  src/wordpress/harness.yml
Labels: enhancement

#514 Make Jenkins env vars configurable and disable CSRF
  src/spryker/_twig/docker-compose.yml/service/jenkins.yml.twig
  src/spryker/harness/attributes/docker.yml
  src/spryker/helm/app/templates/service/jenkins/deployment.yaml
Labels: bug, harness-spryker

#516 Increase shutdown timeout to 2 minutes from 10 seconds
  src/_base/harness/scripts/destroy.sh
Labels: bug, harness-base

#523 Remove Apache License v2 from readme skeleton
  src/_base/application/skeleton/README.md.twig
Labels: bug, harness-all

#524 Fix spryker after deprecations removed
  src/_base/_twig/docker-compose.yml/service/blackfire.yml.twig
  src/_base/_twig/docker-compose.yml/service/console.yml.twig
  src/_base/_twig/docker-compose.yml/service/cron.yml.twig
  src/_base/_twig/docker-compose.yml/service/mongodb.yml.twig
  src/_base/_twig/docker-compose.yml/service/mysql.yml.twig
  src/_base/_twig/docker-compose.yml/service/nginx.yml.twig
  src/_base/_twig/docker-compose.yml/service/php-fpm-exporter.yml.twig
  src/_base/_twig/docker-compose.yml/service/php-fpm.yml.twig
  src/_base/_twig/docker-compose.yml/service/postgres.yml.twig
  src/_base/_twig/docker-compose.yml/service/rabbitmq.yml.twig
  src/_base/_twig/docker-compose.yml/service/solr.yml.twig
  src/_base/_twig/docker-compose.yml/service/tideways.yml.twig
  src/_base/_twig/docker-compose.yml/service/varnish.yml.twig
  src/_base/harness/config/functions.yml
  src/_base/helm/app/templates/application/app-init.yaml
  src/_base/helm/app/templates/application/app-migrate.yaml
  src/_base/helm/app/templates/application/console/deployment.yaml
  src/_base/helm/app/templates/application/cron/deployment.yaml
  src/_base/helm/app/templates/application/webapp/deployment.yaml
  src/_base/helm/app/templates/service/mongodb/deployment.yaml
  src/_base/helm/app/templates/service/mysql/deployment.yaml
  src/_base/helm/app/templates/service/postgres/deployment.yaml
  src/_base/helm/app/templates/service/rabbitmq/deployment.yaml
  src/akeneo/_twig/docker-compose.yml/service/job-queue-consumer.yml.twig
  src/akeneo/helm/app/templates/application/job-queue-consumer/deployment.yaml
  src/akeneo/helm/app/values.yaml.twig
  src/spryker/_twig/docker-compose.yml/nginx_environment.yml.twig
  src/spryker/_twig/docker-compose.yml/service/console.yml.twig
  src/spryker/_twig/docker-compose.yml/service/jenkins-runner.yml.twig
  src/spryker/_twig/docker-compose.yml/service/jenkins.yml.twig
  src/spryker/_twig/docker-compose.yml/service/nginx.yml.twig
  src/spryker/harness/attributes/docker.yml
  src/spryker/helm/app/_twig/values.yaml/environment.yml.twig
  src/spryker/helm/app/templates/application/jenkins-runner/deployment.yaml
  src/spryker/helm/app/templates/service/jenkins/deployment.yaml
  src/spryker/helm/app/values.yaml.twig
  src/spryker/helm/preview/values.yaml.twig
  src/spryker/helm/qa/values.yaml.twig
Labels: breaking, harness-base, harness-spryker

#521 DEVOPS-1181 lighthouse integration
  src/_base/_twig/docker-compose.yml/service/lighthouse.yml.twig
  src/_base/docker/image/lighthouse/Dockerfile.twig
  src/_base/docker/image/lighthouse/root/app/run.sh
  src/_base/harness/attributes/common.yml
  src/_base/harness/config/commands.yml
  src/_base/harness/config/confd.yml
  src/akeneo/harness/config/confd.yml
  src/drupal8/harness/config/confd.yml
  src/magento1/harness/config/confd.yml
  src/magento2/harness/config/confd.yml
  src/spryker/harness/config/confd.yml
  src/symfony/harness/config/confd.yml
  src/wordpress/harness/config/confd.yml
Labels: enhancement, harness-base

#526 Rename magento.static_content.backend to magento.static_content.adminhtml
  src/magento2/.ci/sample-static/workspace.yml
  src/magento2/docker/image/console/root/lib/task/magento/static_content_deploy.sh.twig
  src/magento2/harness.yml
Labels: breaking, harness-magento2

#529 Use App namespace for akeneo behat bootstrap
  src/akeneo/application/skeleton/behat.yml.twig
  src/akeneo/application/skeleton/composer.json.twig
  src/akeneo/application/skeleton/features/bootstrap/Context/WebWithMinkContext.php
  src/akeneo/application/skeleton/features/bootstrap/Context/WebWithPageObjectsWithConstructorInjectionContext.php
  src/akeneo/application/skeleton/features/bootstrap/Context/WebWithPageObjectsWithFactoryInjectionContext.php
  src/akeneo/application/skeleton/features/bootstrap/Page/HomePage.php
  src/akeneo/application/skeleton/features/bootstrap/Page/LoginPage.php
Labels: enhancement, harness-akeneo

#525 Use the runtime environment APPLICATION_ENV for spryker install
  src/spryker/application/skeleton/config/install/docker.yml.twig
  src/spryker/harness/attributes/docker.yml
Labels: bug, harness-spryker

#531 Update magento2 VCL to 2.4.1
  src/magento2/docker/image/varnish/root/etc/varnish/default.vcl.twig
Labels: enhancement, harness-magento2

#530 Remove docker-sync support
  src/_base/_twig/docker-compose.yml/service/console.yml.twig
  src/_base/_twig/docker-compose.yml/service/nginx.yml.twig
  src/_base/_twig/docker-compose.yml/service/php-fpm.yml.twig
  src/_base/application/skeleton/README.md.twig
  src/_base/docker-compose.yml.twig
  src/_base/docker-sync.yml.twig
  src/_base/harness/attributes/common.yml
  src/_base/harness/config/commands.yml
  src/_base/harness/config/confd.yml
  src/_base/harness/config/docker-sync.yml
  src/_base/harness/config/mutagen.yml
  src/_base/harness/scripts/destroy.sh
  src/_base/harness/scripts/disable.sh
  src/_base/harness/scripts/docker_sync.sh
  src/_base/harness/scripts/enable.sh.twig
  src/akeneo/harness/config/confd.yml
  src/drupal8/harness/config/confd.yml
  src/magento1/harness/config/confd.yml
  src/magento2/docker-sync.yml.twig
  src/magento2/harness/config/confd.yml
  src/spryker/_twig/docker-compose.yml/service/console.yml.twig
  src/spryker/_twig/docker-compose.yml/service/nginx.yml.twig
  src/spryker/harness/config/confd.yml
  src/symfony/harness/config/confd.yml
  src/wordpress/harness/config/confd.yml
  test
Labels: breaking, harness-all

#533 Rename AWS Credentials
  src/_base/.ci/sample-dynamic/workspace.yml
  src/_base/.ci/sample-static/workspace.yml
  src/_base/harness/config/commands.yml
  src/akeneo/.ci/sample-dynamic/workspace.yml
  src/akeneo/.ci/sample-static/workspace.yml
  src/drupal8/.ci/sample-dynamic/workspace.yml
  src/drupal8/.ci/sample-static/workspace.yml
  src/magento1/.ci/sample-dynamic/workspace.yml
  src/magento1/.ci/sample-static/workspace.yml
  src/magento2/.ci/sample-dynamic/workspace.yml
  src/magento2/.ci/sample-static/workspace.yml
  src/spryker/.ci/sample-dynamic/workspace.yml
  src/spryker/.ci/sample-static/workspace.yml
  src/symfony/.ci/sample-dynamic/workspace.yml
  src/symfony/.ci/sample-static/workspace.yml
  src/wordpress/.ci/sample-dynamic/workspace.yml
  src/wordpress/.ci/sample-static/workspace.yml
Labels: breaking, harness-all

#534 Add a command hook to cleanup built images
  src/_base/docker/image/php-fpm/Dockerfile.twig
  src/_base/harness/config/cleanup.yml
  src/_base/harness/scripts/destroy.sh
Labels: enhancement

#517 #67 Detect if containers exist during `ws enable`
  src/_base/harness/config/events.yml
  src/_base/harness/config/pipeline.yml
  src/_base/harness/scripts/enable.sh.twig
  src/akeneo/harness/config/q-akeneo-pipeline.yml
  src/akeneo/harness/scripts/enable.sh.twig
Labels: enhancement, harness-akeneo, harness-base

#535 Update ingress api version
  src/_base/helm/app/templates/application/webapp/ingress.yaml
  src/spryker/helm/app/templates/application/webapp/ingress.yaml
Labels: enhancement, harness-base, harness-spryker

#518 Fix redis-session not enabled on kubernetes
  src/_base/_twig/docker-compose.yml/service/redis-session.yml.twig
  src/_base/docker/image/console/Dockerfile.twig
  src/_base/harness/attributes/common.yml
  src/_base/harness/attributes/docker-base.yml
  src/_base/helm/app/templates/service/redis-session/deployment.yaml
  src/_base/helm/app/templates/service/redis-session/pvc.yaml
  src/_base/helm/app/templates/service/redis-session/service.yaml
  src/magento2/harness/attributes/docker.yml
Labels: breaking, bug, harness-base, harness-magento2

#532 Update magento2 NGINX config to 2.4.1
  src/magento2/docker/image/nginx/root/etc/nginx/conf.d/default.conf.template.twig
  src/magento2/harness.yml
Labels: enhancement, harness-magento2

#536 #508 Use drush
  src/drupal8/application/skeleton/composer.json.twig
  src/drupal8/harness.yml
Labels: enhancement, harness-drupal8

#537 Join lighthouse to the private network
  src/_base/_twig/docker-compose.yml/service/lighthouse.yml.twig
Labels: enhancement, harness-base

#528 Fix lib folder not being readable
  src/_base/harness/scripts/enable.sh.twig
Labels: enhancement, harness-base

#538 Move ingress annotations
  src/_base/.ci/sample-dynamic/workspace.yml
  src/_base/.ci/sample-static/workspace.yml
  src/_base/harness/attributes/docker-base.yml
  src/_base/helm/app/templates/application/webapp/ingress-istio.yaml
  src/_base/helm/app/templates/application/webapp/ingress.yaml
  src/_base/helm/app/values.yaml.twig
  src/spryker/helm/app/templates/application/webapp/ingress-istio.yaml
  src/spryker/helm/app/templates/application/webapp/ingress.yaml
Labels: breaking, harness-base

#527 Adjust spryker to use hostname_aliases for nginx
  src/_base/.ci/sample-dynamic/workspace.yml
  src/_base/.ci/sample-static/workspace.yml
  src/_base/application/skeleton/README.md.twig
  src/_base/harness/attributes/docker-base.yml
  src/_base/harness/config/functions.yml
  src/_base/helm/app/templates/application/webapp/ingress-istio.yaml
  src/_base/helm/app/templates/application/webapp/ingress.yaml
  src/_base/helm/app/values.yaml.twig
  src/spryker/_twig/docker-compose.yml/service/nginx.yml.twig
  src/spryker/harness.yml
  src/spryker/helm/app/templates/application/webapp/ingress-istio.yaml
  src/spryker/helm/app/templates/application/webapp/ingress.yaml
Labels: bug, enhancement, harness-spryker

#539 Fix sealed secret template
  src/_base/helm/app/templates/_base_helper.tpl
Labels: bug, harness-base

#542 Fix sealed secret template
  src/_base/helm/app/templates/_base_helper.tpl
Labels: bug

#541 Fix drush updatedb hanging
  src/drupal8/harness.yml
Labels: bug, harness-drupal8

#543 Fix ws destroy on macOS
  src/_base/harness/config/cleanup.yml
Labels: bug, harness-base
