Repository inviqa/harness-base-php, pull requests merged in 2021-02, with the labels that each got.

#546 Clean up ingress template
  src/_base/helm/app/templates/application/webapp/ingress.yaml
  src/spryker/helm/app/templates/application/webapp/ingress.yaml
Labels: enhancement, harness-base, harness-spryker

#547 Add Zed API hosts for supporting back-channel communication
  src/_base/application/skeleton/README.md.twig
  src/_base/application/skeleton/_twig/README.md/websites.md.twig
  src/spryker/application/skeleton/_twig/README.md/websites.md.twig
  src/spryker/application/skeleton/config/Shared/config_local.php
  src/spryker/docker/image/nginx/root/etc/nginx/conf.d/zed.conf.template.twig
  src/spryker/harness.yml
  src/spryker/harness/attributes/docker.yml
  src/spryker/helm/app/templates/application/webapp/ingress-istio.yaml
  src/spryker/helm/app/templates/application/webapp/ingress.yaml
Labels: enhancement, harness-spryker

#545 Add v1.0 Upgrade Instructions
  CHANGELOG.md
  README.md
  UPGRADE.md
Labels: enhancement

#550 Simplify cleanup in ws destroy
  src/_base/docker/image/php-fpm/Dockerfile.twig
  src/_base/harness/config/cleanup.yml
Labels: enhancement, harness-all

#551 Add missed files relating to the spryker API host changes
  src/spryker/docker/image/console/root/lib/task/welcome.sh.twig
  src/spryker/docker/image/nginx/root/docker-entrypoint.d/config_render.sh.twig
  src/spryker/harness/attributes/docker.yml
Labels: bug, harness-symfony

#552 Remove duplicate entry in Akeneo's .gitignore
  src/akeneo/application/skeleton/.gitignore
Labels: enhancement, harness-akeneo

#560 Add missing translator cache and run split codebucket store tasks
  src/spryker/application/skeleton/config/install/docker.yml.twig
Labels: bug, harness-spryker
