Repository inviqa/harness-base-php, pull requests merged in 2021-03, with the labels that each got.

#553 Upgrade Symfony to 5.2
  src/symfony/application/skeleton/.gitignore
  src/symfony/application/skeleton/composer.json.twig
Labels: enhancement, harness-symfony

#565 Make curl fail helpfully and consistently
  src/_base/docker/image/console/Dockerfile.twig
  src/_base/docker/image/console/root/lib/task/http/wait.sh
  src/_base/docker/image/console/root/lib/task/rabbitmq/vhosts.sh.twig
  src/_base/docker/image/php-fpm/Dockerfile.twig
  src/_base/harness/scripts/mutagen.sh
  src/_base/helm/app/templates/application/app-init.yaml
  src/_base/helm/app/templates/application/app-migrate.yaml
  src/magento1/docker/image/console/root/lib/task/n98/install.sh
  src/spryker/docker/image/jenkins-runner/root/lib/task/jenkins/setup.sh
  src/wordpress/docker/image/console/root/lib/task/wp-cli/install.sh
Labels: enhancement, harness-all

#568 Introduce a ws rebuild command
  src/_base/harness/config/commands.yml
  src/_base/harness/scripts/rebuild.sh
Labels: enhancement, harness-all

#572 Do not remove sync container, make more responsive to stop
  src/_base/harness/scripts/mutagen.sh
Labels: enhancement, harness-base

#569 Fix spryker docker hosts having CI namespace issues
  src/spryker/harness.yml
Labels: bug, harness-spryker

#567 Fix issue with Jenkins runner being disabled when not using harness helm
  src/spryker/application/skeleton/config/Shared/config_local.php
Labels: bug, harness-spryker

#548 Implement ws external-images ls/rm and use for ws destroy --all
  src/_base/harness/config/commands.yml
  src/_base/harness/config/external-images.yml
  src/_base/harness/scripts/destroy.sh
Labels: enhancement, harness-all

#549 Add Jaeger Relay
  src/_base/_twig/docker-compose.yml/service/relay.yml.twig
  src/_base/docker/image/relay/root/etc/nginx/nginx.conf
Labels: enhancement, harness-base

#558 Deprecate installing harness tools in php moving upstream
  src/_base/docker/image/console/Dockerfile.twig
  src/_base/docker/image/php-fpm/Dockerfile.twig
Labels: enhancement, harness-base

#575 Use data path for Spryker twig cache
  src/spryker/application/skeleton/config/Shared/config_local.php
Labels: bug, harness-spryker

#580 Fix external-images pull locally
  src/_base/harness/config/external-images.yml
Labels: bug, harness-all

#557 Prepare console build as early as possible
  src/_base/harness/config/commands.yml
  src/_base/harness/config/external-images.yml
  src/_base/harness/config/functions.yml
  src/_base/harness/scripts/destroy.sh
  src/_base/harness/scripts/enable.sh.twig
  src/_base/harness/scripts/rebuild.sh
Labels: enhancement, harness-base

#561 Early feedback in jenkins by running minimal build for isolated tests
  src/_base/application/overlay/Jenkinsfile.twig
  src/_base/harness/attributes/common.yml
  src/_base/harness/config/pipeline.yml
  src/drupal8/application/overlay/Jenkinsfile.twig
  src/drupal8/harness.yml
  src/magento1/harness.yml
  src/magento2/harness.yml
  test
Labels: enhancement, harness-base

#582 Use buildkit for harness builds
  Jenkinsfile
  src/_base/application/overlay/Jenkinsfile.twig
  src/_base/harness/attributes/common.yml
  src/drupal8/application/overlay/Jenkinsfile.twig
Labels: enhancement
