Repository inviqa/harness-base-php, pull requests merged in 2021-04, with the labels that each got.

#579 Update to Magento 2.4.2
  src/magento2/application/skeleton/app/etc/config.php
  src/magento2/application/skeleton/composer.json.twig
  src/magento2/harness.yml
Labels: enhancement, harness-magento2

#584 Fix reference to attribute for akeneo
  src/akeneo/harness.yml
Labels: bug, harness-akeneo

#583 Enable docker buildkit for local installs
  src/_base/harness/attributes/common.yml
  src/_base/harness/config/commands.yml
  test
Labels: enhancement, harness-base

#585 Switch to msmtp to avoid DNS issues with mhsendmail
  src/_base/docker/image/console/Dockerfile.twig
  src/_base/docker/image/console/root/usr/local/bin/send_mail
  src/_base/docker/image/php-fpm/Dockerfile.twig
  src/_base/docker/image/php-fpm/root/usr/local/bin/send_mail
Labels: bug, harness-base

#587 Assets need to be included in the console build
  src/_base/harness/scripts/enable.sh.twig
Labels: bug, harness-base

#589 Fix spacing with multiple build environment variables
  src/_base/docker/image/console/Dockerfile.twig
Labels: bug, harness-base

#590 Enable early feedback for magento2 in Jenkins
  src/drupal8/application/overlay/Jenkinsfile.twig
  src/magento2/docker/image/console/root/lib/task/composer/development_dependencies.sh
  src/magento2/docker/image/console/root/lib/task/phpstan.sh
  src/magento2/harness.yml
  test
Labels: enhancement, harness-magento2

#592 Fix asking for shutdown
  src/_base/harness/scripts/enable.sh.twig
Labels: bug, harness-base

#588 Use built image for lighthouse to speed up environments
  src/_base/_twig/docker-compose.yml/service/lighthouse.yml.twig
  src/_base/docker/image/lighthouse/Dockerfile.twig
  src/_base/docker/image/lighthouse/root/app/run.sh.twig
  src/_base/harness/attributes/docker-base.yml
  src/_base/harness/config/commands.yml
Labels: enhancement, harness-base

#591 Enable early feedback for drupal8 in Jenkins
  src/drupal8/harness.yml
  test
Labels: enhancement, harness-drupal8

#594 Lighthouse jenkins stages should be removed if lighthouse is disabled
  src/_base/application/overlay/Jenkinsfile.twig
  src/drupal8/application/overlay/Jenkinsfile.twig
Labels: bug, harness-all

#595 Update Akeneo cronjobs
  src/akeneo/harness.yml
Labels: harness-akeneo
