Repository inviqa/harness-base-php, pull requests merged in 2022-11, with the labels that each got.

#722 Add pod topologySpreadConstraints to replace selfAntiAffinityTopologyKey
  src/_base/harness/attributes/docker-base.yml
  src/_base/helm/app/templates/_base_helper.tpl
  src/_base/helm/app/templates/application/console/deployment.yaml
  src/_base/helm/app/templates/application/cron/deployment.yaml
  src/_base/helm/app/templates/application/webapp/deployment.yaml
  src/_base/helm/app/templates/service/solr/statefulset.yaml
  src/_base/helm/app/templates/service/varnish/statefulset.yaml
Labels: enhancement, harness-all

#729 Add response time, hostname and X-Forwarded-For to the NGINX access log
  src/_base/harness/attributes/common.yml
Labels: enhancement, harness-base, hacktoberfest-accepted

#718 Fix drupal mutagen check still using yes string to bool function
  src/drupal8/_twig/docker-compose.yml/service/php-fpm.yml.twig
Labels: bug, harness-drupal8

#728 Allow configuring redis options
  src/_base/_twig/docker-compose.yml/service/redis-session.yml.twig
  src/_base/_twig/docker-compose.yml/service/redis.yml.twig
  src/_base/harness/attributes/docker-base.yml
  src/_base/helm/app/templates/service/redis-session/deployment.yaml
  src/_base/helm/app/templates/service/redis/deployment.yaml
Labels: enhancement, harness-magento1, harness-magento2, harness-base, harness-drupal8, hacktoberfest-accepted

#730 Fix welcome message for drupal
  src/_base/docker/image/console/root/lib/task/welcome.sh.twig
  src/drupal8/harness.yml
  src/drupal8/harness/attributes/docker.yml
  src/magento1/docker/image/console/root/lib/task/welcome.sh.twig
  src/spryker/docker/image/console/root/lib/task/welcome.sh.twig
Labels: enhancement, harness-magento1, harness-base, harness-spryker, harness-drupal8, hacktoberfest-accepted

#727 Fix assets apply bug in passing postgres password to the passthru func
  src/_base/docker/image/console/root/lib/task/assets/apply.sh
Labels: bug, harness-all
