Repository inviqa/harness-base-php, pull requests merged in 2022-04, with the labels that each got.

#671 Fix wrong platform mysql image on arm64 with new mysql:8.0-oracle image
  UPGRADE.md
  src/_base/harness/attributes/common.yml
Labels: bug, harness-all

#674 Allow specifying k8s context on sealed-secret commands
  src/_base/harness/config/secrets.yml
Labels: enhancement, harness-all

#659 Fix issue with php service sub dicts copying into php-base
  src/_base/harness/attributes/docker-base.yml
  src/_base/harness/config/functions.yml
  src/_base/helm/app/templates/_base_helper.tpl
  src/_base/helm/app/templates/application/app-init.yaml
  src/_base/helm/app/templates/application/app-migrate.yaml
  src/_base/helm/app/templates/application/console/deployment.yaml
  src/_base/helm/app/templates/application/console/secret.yaml
  src/_base/helm/app/templates/application/cron/deployment.yaml
  src/_base/helm/app/templates/application/cron/secret.yaml
  src/_base/helm/app/templates/application/webapp/deployment.yaml
  src/_base/helm/app/templates/application/webapp/secret-php-fpm.yaml
  src/akeneo/harness/attributes/docker.yml
  src/akeneo/helm/app/templates/application/job-queue-consumer/deployment.yaml
  src/akeneo/helm/app/templates/application/job-queue-consumer/secret.yaml
  src/spryker/harness/attributes/docker.yml
  src/spryker/helm/app/templates/application/jenkins-runner/deployment.yaml
  src/spryker/helm/app/templates/application/jenkins-runner/secret.yaml
Labels: bug, harness-all

#675 Update k8s Ingress to v1 and add optional ingressClassName
  UPGRADE.md
  src/_base/helm/app/templates/application/webapp/ingress.yaml
  src/spryker/helm/app/templates/application/webapp/ingress.yaml
Labels: enhancement, harness-all

#663 Fix lighthouse result forwarding
  src/_base/_twig/docker-compose.yml/service/lighthouse.yml.twig
  src/_base/harness/config/commands.yml
Labels: bug, harness-all

#677 Disable nginx server_tokens by default
  src/_base/harness/attributes/common.yml
Labels: enhancement

#683 Update debian distro to bullseye for PHP 8.0+
  UPGRADE.md
  src/_base/harness/attributes/common.yml
  src/akeneo/harness.yml
  src/spryker/harness.yml
Labels: enhancement, harness-all

#680 Skip null hosts in Spryker welcome
  src/spryker/docker/image/console/root/lib/task/welcome.sh.twig
Labels: enhancement
