Repository inviqa/harness-base-php, pull requests merged in 2022-12, with the labels that each got.

#715 Use develop version of php compatibility check tool, for 8.0 and 8.1 checks
  src/akeneo/application/skeleton/composer.json.twig
  src/drupal8/application/skeleton/composer.json.twig
  src/magento1/application/skeleton/_twig/composer.json/default.twig
  src/magento2/application/skeleton/composer.json.twig
  src/spryker/application/skeleton/composer-harness.json.twig
  src/symfony/application/skeleton/composer.json.twig
  src/wordpress/application/skeleton/composer.json.twig
Labels: enhancement, harness-all

#731 Make topologySpreadConstraints labelSelector overridable by matchLabelKeys
  src/_base/helm/app/templates/_base_helper.tpl
Labels: enhancement

#733 Skip allocating jenkins node if skipping based on labels
  Jenkinsfile
Labels: enhancement, harness-base

#732 Fix harness.yml to use /Backoffice as root_dir for spryker versions newer 202108.0
  src/spryker/harness.yml
Labels: bug, harness-spryker
