Repository inviqa/harness-base-php, pull requests merged in 2022-05, with the labels that each got.

#693 Update symfony flex symfony version reference to match requires
  src/symfony/application/skeleton/composer.json.twig
Labels: bug, harness-symfony

#692 Remove symfony flex post-update workaround now flex fixed
  src/symfony/application/skeleton/composer.json.twig
Labels: enhancement, harness-symfony

#694 Test harnesses based on labels if a PR
  Jenkinsfile
Labels: harness-all

#696 Exclude the latest spryker code-sniffer release due to testing twig templates
  src/spryker/application/skeleton/composer-harness.json.twig
Labels: bug, harness-spryker

#689 Filter out empty spryker hostnames
  src/_base/harness/config/functions.yml
  src/spryker/harness.yml
Labels: enhancement, harness-spryker

#699 Publish chart with user.name git config setting
  src/_base/harness/attributes/common.yml
  src/_base/harness/config/pipeline.yml
Labels: enhancement, harness-base

#701 Use ARM-compatible tag of official varnish docker image
  src/_base/harness/attributes/docker-base.yml
Labels: harness-base

#703 Update spryker phpstan for memory overuse fix
  src/spryker/application/skeleton/composer-harness.json.twig
  src/spryker/application/skeleton/phpstan.neon
Labels: bug, harness-spryker

#676 Switch over Jenkins labels to linux-amd64
  Jenkinsfile
  src/_base/application/overlay/Jenkinsfile.twig
  src/drupal8/application/overlay/Jenkinsfile.twig
Labels: enhancement, harness-all

#705 Add missing ingressClassName for Spryker ingress
  src/spryker/helm/app/templates/application/webapp/ingress.yaml
Labels: enhancement, harness-spryker

#707 Add apiVersion to helm charts for lint error
  src/_base/helm/app/Chart.yaml.twig
  src/_base/helm/qa/Chart.yaml.twig
  src/spryker/helm/preview/Chart.yaml
Labels: bug, harness-all

#709 Add support for defining affinity and self service antiAffinity
  src/_base/harness/attributes/docker-base.yml
  src/_base/helm/app/templates/_base_helper.tpl
  src/_base/helm/app/templates/application/console/deployment.yaml
  src/_base/helm/app/templates/application/cron/deployment.yaml
  src/_base/helm/app/templates/application/webapp/deployment.yaml
  src/_base/helm/app/templates/service/solr/statefulset.yaml
  src/_base/helm/app/templates/service/varnish/statefulset.yaml
  src/_base/helm/app/values-preview.yaml.twig
  src/_base/helm/app/values-production.yaml.twig
  src/_base/helm/app/values.yaml.twig
  src/akeneo/helm/app/templates/application/job-queue-consumer/deployment.yaml
  src/spryker/helm/app/templates/application/jenkins-runner/deployment.yaml
Labels: enhancement, harness-base

#714 Fix spryker build failure
  src/spryker/application/skeleton/composer-harness.json.twig
Labels: harness-spryker
