Repository inviqa/harness-base-php, pull requests merged in 2023-01, with the labels that each got.

#665 Add PHP8 support to Spryker harness
  src/spryker/.ci/sample-dynamic/workspace.yml
  src/spryker/.ci/sample-static/workspace.yml
  src/spryker/application/overlay/src/Pyz/Zed/Queue/Business/Process/ProcessManager.php
  src/spryker/application/overlay/src/Pyz/Zed/Queue/Business/QueueBusinessFactory.php
  src/spryker/application/skeleton/composer-harness.json.twig
  src/spryker/application/skeleton/config/Shared/config_local.php
  src/spryker/application/skeleton/config/install/docker.yml.twig
  src/spryker/application/skeleton/phpstan-baseline.neon
  src/spryker/application/skeleton/phpstan.neon
  src/spryker/docker/image/console/root/lib/task/skeleton/apply.sh.twig
  src/spryker/docker/image/console/root/lib/task/spryker/install.sh
  src/spryker/harness.yml
Labels: enhancement, harness-spryker

#737 Add support for detecting virtiofs mount
  src/_base/docker/image/console/root/entrypoint.dynamic.sh
Labels: enhancement

#738 Update Akeneo to v6
  src/akeneo/application/skeleton/composer.json.twig
  src/akeneo/docker/image/job-queue-consumer/root/etc/supervisor/conf.d/container-cmd.conf.twig
  src/akeneo/harness.yml
  src/akeneo/harness/config/confd.yml
Labels: enhancement, harness-akeneo
