Repository inviqa/harness-base-php, pull requests merged in 2023-05, with the labels that each got.

#744 Update Spryker demoshop to 202212.0-p2
  src/_base/docker/image/console/root/lib/task/composer/autoload.sh
  src/_base/docker/image/console/root/lib/task/composer/autoload/level0.sh
  src/_base/docker/image/console/root/lib/task/composer/autoload/level1.sh
  src/_base/docker/image/console/root/lib/task/composer/autoload/level2.sh
  src/spryker/.ci/sample-dynamic/workspace.yml
  src/spryker/.ci/sample-static/workspace.yml
  src/spryker/application/skeleton/composer-harness.json.twig
  src/spryker/application/skeleton/config/Shared/config_local.php
  src/spryker/application/skeleton/config/install/docker.yml.twig
  src/spryker/application/skeleton/src/Inviqa/Yves/EventDispatcher/EventDispatcherDependencyProvider.php
  src/spryker/docker/image/console/root/lib/task/spryker/build.sh.twig
  src/spryker/docker/image/console/root/lib/task/spryker/build/backend.sh.twig
  src/spryker/docker/image/console/root/lib/task/spryker/build/frontend.sh.twig
  src/spryker/harness.yml
  src/spryker/harness/attributes/docker.yml
  src/spryker/harness/config/confd.yml
Labels: enhancement, harness-spryker

#774 Change harness-base label to harness-php label to avoid confusion about purpose
  Jenkinsfile
Labels: enhancement, harness-php

#775 Update drupal/varnish_purge for Drupal 10 support
  src/drupal/application/skeleton/composer.json.twig
Labels: enhancement, harness-drupal

#776 Add read committed isolation level for drupal 10
  src/drupal/application/overlay/docroot/sites/default/settings.local.php.twig
Labels: harness-drupal

#777 Fix issue expanding built-images list into bash array in `ws built-images rm`
  src/_base/harness/config/cleanup.yml
Labels: bug
