Repository inviqa/harness-base-php, pull requests merged in 2023-03, with the labels that each got.

#747 Support ssh private key Jenkins credentials for chart publish
  src/_base/application/overlay/Jenkinsfile.twig
  src/_base/harness/attributes/common.yml
  src/_base/harness/config/pipeline.yml
Labels: enhancement, harness-base

#748 Hook up Jenkins docker registry credentials if docker.registry.credential_id provided
  src/_base/application/overlay/Jenkinsfile.twig
  src/_base/harness/attributes/common.yml
Labels: enhancement, harness-base

#725 Upgrade drupal to version 9 for PHP 8.0 minimum upgrade
  Jenkinsfile
  src/drupal8/application/skeleton/composer.json.twig
  src/drupal8/application/skeleton/phpstan.deprecation_check.neon.twig
  src/drupal8/application/skeleton/phpstan.neon.twig
  src/drupal8/application/skeleton/test/.gitkeep
  src/drupal8/harness.yml
  src/drupal8/harness/config/confd.yml
  test
Labels: enhancement, harness-drupal8

#750 Add support for Drupal 10
  Jenkinsfile
  src/drupal/application/skeleton/behat.yml.twig
  src/drupal/application/skeleton/composer.json.twig
  src/drupal/application/skeleton/docroot/modules/custom/startup_core/startup_core.info.yml
  src/drupal/application/skeleton/docroot/profiles/custom/startup/startup.info.yml
  src/drupal/harness.yml
  test
Labels: enhancement, harness-drupal

#739 Allow configuring the Akeneo v6+ messenger consumers
  src/akeneo/docker/image/job-queue-consumer/root/etc/supervisor/conf.d/container-cmd.conf.twig
  src/akeneo/harness.yml
Labels: enhancement, harness-akeneo

#746 Stop modules being installable via the admin interface
  UPGRADE.md
  src/drupal/harness.yml
Labels: enhancement, harness-drupal8

#756 Run builds weekly on Monday mornings instead of every morning
  Jenkinsfile
  src/_base/application/overlay/Jenkinsfile.twig
  src/drupal/application/overlay/Jenkinsfile.twig
Labels: harness-base, harness-drupal8, harness-drupal

#754 Use tagged version of php-fpm-exporter
  src/_base/harness/attributes/docker-base.yml
Labels: enhancement, harness-base

#758 Mountpoint chown recursive now optional
  src/_base/harness/attributes/docker-base.yml
  src/_base/helm/app/templates/application/cron/deployment.yaml
  src/_base/helm/app/templates/application/webapp/deployment.yaml
  src/akeneo/harness/attributes/docker.yml
  src/akeneo/helm/app/templates/application/job-queue-consumer/deployment.yaml
Labels: enhancement, harness-base, harness-akeneo

#760 Make docker-compose bin configurable
  README.md
  src/_base/harness/attributes/common.yml
  src/_base/harness/config/cleanup.yml
  src/_base/harness/config/commands.yml
  src/_base/harness/config/events.yml
  src/_base/harness/config/external-images.yml
  src/_base/harness/config/functions.yml
  src/_base/harness/config/pipeline.yml
  src/_base/harness/config/xdebug.yml
  src/_base/harness/scripts/destroy.sh
  src/_base/harness/scripts/disable.sh
  src/_base/harness/scripts/enable.sh.twig
  src/_base/harness/scripts/rebuild.sh
  src/_base/harness/scripts/xdebug_version_sync.sh
  src/drupal/docs/customise/commands.md
  src/drupal/harness.yml
  src/magento1/harness.yml
  src/magento2/harness.yml
  src/spryker/harness.yml
  test
Labels: enhancement, harness-magento1, harness-magento2, harness-base, harness-wordpress, harness-symfony, harness-drupal

#762 The default tideways application service name is now 'app'
  UPGRADE.md
  src/_base/harness/attributes/common.yml
Labels: enhancement, harness-base

#765 Revert changes allowing php-fpm to be disabled in webapp, to avoid bug with php-fpm docker service
  UPGRADE.md
  src/_base/harness/attributes/docker-base.yml
  src/_base/helm/app/templates/application/webapp/deployment.yaml
Labels: bug, harness-magento1, harness-magento2, harness-base, harness-drupal8, harness-wordpress, harness-akeneo, harness-symfony, harness-drupal
