Repository inviqa/harness-base-php, pull requests merged in 2024-02, with the labels that each got.

#807 docs: improve harness upgrade instructions
  README.md
Labels: enhancement

#802 Add support for searchengine attribute to specify different search engines
  UPGRADE.md
  src/_base/.ci/sample-dynamic/workspace.yml
  src/_base/.ci/sample-static/workspace.yml
  src/_base/docker/image/console/root/usr/lib/task/searchengine/available.sh
  src/_base/harness.yml
  src/_base/harness/attributes/common-05-php.yml
  src/_base/harness/attributes/docker-05-php.yml
  src/akeneo/.ci/sample-dynamic/workspace.yml
  src/akeneo/.ci/sample-static/workspace.yml
  src/akeneo/harness.yml
  src/akeneo/harness/attributes/docker.yml
  src/drupal/.ci/sample-dynamic/workspace.yml
  src/drupal/.ci/sample-static/workspace.yml
  src/drupal/harness.yml
  src/magento1/.ci/sample-dynamic/workspace.yml
  src/magento1/.ci/sample-static/workspace.yml
  src/magento1/harness.yml
  src/magento2/.ci/sample-dynamic/workspace.yml
  src/magento2/.ci/sample-static/workspace.yml
  src/magento2/application/overlay/app/etc/env.php.twig
  src/magento2/harness.yml
  src/magento2/harness/attributes/docker.yml
  src/spryker/.ci/sample-dynamic/workspace.yml
  src/spryker/.ci/sample-static/workspace.yml
  src/spryker/application/skeleton/config/Shared/config_local.php
  src/spryker/harness.yml
  src/symfony/.ci/sample-dynamic/workspace.yml
  src/symfony/.ci/sample-static/workspace.yml
  src/symfony/harness.yml
  src/wordpress/.ci/sample-dynamic/workspace.yml
  src/wordpress/.ci/sample-static/workspace.yml
  src/wordpress/harness.yml
Labels: enhancement, harness-all

#803 feat(all): Add corepack support
  src/_base/docker/image/console/Dockerfile.twig
Labels: enhancement, harness-all

#800 feat(magento2): Update Magento to 2.4.6-p4 and it's PHP to 8.2
  UPGRADE.md
  src/magento2/application/overlay/phpcs.xml
  src/magento2/application/skeleton/app/etc/config.php
  src/magento2/application/skeleton/composer.json.twig
  src/magento2/harness.yml
Labels: enhancement, harness-magento2

#808 feat(symfony): update Symfony to version 7.0
  src/symfony/application/skeleton/composer.json.twig
Labels: enhancement, harness-symfony
